__pycache__
/.cache
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.idea/modules.xml
.idea/NTDS_webportal.iml
.idea/statistic.xml
.idea
.vscode

ntds_webportal/__pycache__
000_test_statistics/
node_modules/
venv/

logs/

instance/__pycache__
instance/config.py
instance/etds2016utrecht.py
instance/etds2018brno.py
instance/ntds2018enschede.py
instance/populate.py
instance/test_populate.py