<h2>{{title}}</h2>
<h5>{{subtitle}}</h5>
{% if current_user.is_organizer() and mode == 'register' %}
<h3>Note for the organization:</h3>
<p>You can register yourself here, you will be added to a separate team called "{{g.data.TEAM_ORGANIZATION}}."</p>
<p>This will allow you to place members of the organization into the volunteering system, if you choose to do so.</p>
{% endif %}
<form class="form-horizontal" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}

    <h3>Personal information</h3>
    <div class="form-row mb-4">
        <div class="col-12 col-md-12 col-lg-5">
            {{ wtf.form_field(form.first_name) }}
        </div>
        <div class="col-12 col-md-3 col-lg-2">
            {{ wtf.form_field(form.prefixes) }}
        </div>
        <div class="col-12 col-md-9 col-lg-5">
            {{ wtf.form_field(form.last_name) }}
        </div>
        <div class="col-12 col-md-5 col-lg-6">
            {{ wtf.form_field(form.email) }}
        </div>
        <div class="col-12 col-md-7 col-lg-6">
            {{ wtf.form_field(form.sleeping_arrangements) }}
        </div>
        {% if g.sc.ask_diet_allergies %}
            <div class="col-12">
                {{ wtf.form_field(form.diet_allergies) }}
            </div>
        {% endif %}
    </div>

    {% if g.sc.ask_first_aid or g.sc.ask_emergency_response_officer %}
        <h3>Volunteering</h3>
        <div class="form-row">
            {% if g.sc.ask_first_aid and g.sc.ask_emergency_response_officer %}
                <div class="col-12 col-xxl-6">
                    {{ wtf.form_field(form.first_aid) }}
                </div>
                <div class="col-12 col-xxl-6">
                    {{ wtf.form_field(form.emergency_response_officer) }}
                </div>
            {% elif g.sc.ask_first_aid %}
                <div class="col-12">
                    {{ wtf.form_field(form.first_aid) }}
                </div>
            {% elif g.sc.ask_emergency_response_officer %}
                <div class="col-12">
                    {{ wtf.form_field(form.emergency_response_officer) }}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <h3>Adjudication</h3>
    <div class="mb-4">
        <div class="form-row">
            <div class="col-12 col-lg-6">
                {{ wtf.form_field(form.jury_ballroom, **{'onchange': "adjudicatorGreyOut('jury_ballroom', 'license_jury_ballroom', 'level_jury_ballroom')", 'onkeyup': "adjudicatorGreyOut('jury_ballroom', 'license_jury_ballroom', 'level_jury_ballroom')"}) }}
                {% if g.sc.ask_adjudicator_certification %}
                    {{ wtf.form_field(form.license_jury_ballroom) }}
                {% endif %}
                {% if g.sc.ask_adjudicator_highest_achieved_level %}
                    {{ wtf.form_field(form.level_jury_ballroom) }}
                {% endif %}
            </div>
            <div class="col-12 col-lg-6">
                {{ wtf.form_field(form.jury_latin, **{'onchange': "adjudicatorGreyOut('jury_latin', 'license_jury_latin', 'level_jury_latin')", 'onkeyup': "adjudicatorGreyOut('jury_latin', 'license_jury_latin', 'level_jury_latin')"}) }}
                {% if g.sc.ask_adjudicator_certification %}
                    {{ wtf.form_field(form.license_jury_latin) }}
                {% endif %}
                {% if g.sc.ask_adjudicator_highest_achieved_level %}
                    {{ wtf.form_field(form.level_jury_latin) }}
                {% endif %}
            </div>
        </div>
        {% if g.sc.salsa_competition %}
            {{ wtf.form_field(form.jury_salsa) }}
        {% endif %}
        {% if g.sc.polka_competition %}
            {{ wtf.form_field(form.jury_polka) }}
        {% endif %}
    </div>

    <h2>Final remarks</h2>
    {{ wtf.form_field(form.remark, placeholder='What kind of volunteering shifts would you like, and any addition relevant information.') }}

    {% if mode == 'register' %}
        {% include 'privacy/checkbox.html' %}
    {% endif %}

    <div class="form-group mt-3 mb-5">
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" {% if mode == 'register' %}disabled{% endif %} value="{% if mode == 'edit' %}Save changes{% else %}Register{% endif %}">
            {% if current_user.is_super_volunteer() or current_user.is_organizer() %}
            <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('main.index') }}">Cancel</a>
            {% endif %}
        </div>
    </div>
</form>