{% extends "base.html" %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function onStart() {
    document.getElementById('jury_ballroom').onchange(this);
    document.getElementById('jury_latin').onchange(this);
    let privacy = document.getElementById('privacy_checkbox');
    if (privacy !== null) {privacyPolicy(privacy)}
}
function dummy() {}
function adjudicatorGreyOut(jury, license, level) {
    let div_jury = document.getElementById(jury);
    {% if g.sc.ask_adjudicator_certification -%}
        let div_license = document.getElementById(license);
    {%- endif %}
    {% if g.sc.ask_adjudicator_highest_achieved_level -%}
        let div_level = document.getElementById(level);
    {%- endif %}

    if (div_jury.value === "{{ g.data.NO }}") {
        {% if g.sc.ask_adjudicator_certification -%}
            div_license.setAttribute('disabled', '');
        {%- endif %}
        {% if g.sc.ask_adjudicator_highest_achieved_level -%}
            div_level.setAttribute('disabled', '');
        {%- endif %}
    } else {
        {% if g.sc.ask_adjudicator_certification -%}
            div_license.removeAttribute('disabled');
        {%- endif %}
        {% if g.sc.ask_adjudicator_highest_achieved_level -%}
            div_level.removeAttribute('disabled');
        {%- endif %}
    }
}
</script>
{% endblock %}
