{% if g.ts.super_volunteer_registration_open or current_user.is_organizer() %}
{% extends "volunteering/register_edit_volunteer_base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block app_content %}
{% if g.ts.super_volunteer_registration_open or current_user.is_organizer() %}
{% with mode='register', title='Registration for Super Volunteers', subtitle='Reminder: You cannot register as both a dancer during the tournament, and a Super Volunteer.' %}
    {% include 'volunteering/_volunteer_form.html' %}
{% endwith %}
{% else %}
<h2>Registration for Super Volunteers</h2>
<p>The registration for Super Volunteers for the {{g.sc.tournament}} {{g.sc.year}} in {{g.sc.city}} is currently closed.</p>
{% endif %}
{% endblock %}