{% extends "base.html" %}

{% block app_content %}
{% include 'volunteering/volunteering_nav.html' %}
<table class="table-sm ">
    <thead>
        <tr style="font-size:x-large;">
            <th colspan="2"></th>
            <th colspan="2" class="text-center">Mandatory hours</th>
            <th colspan="3" class="text-center">Voluntary hours</th>
        </tr>
        <tr style="font-size:large;">
            <th style="text-align:right;" class="pr-4">Team</th>
            <th class="pl-4 pr-4"># dancers</th>
            <th class="pl-4">Assigned</th>
            <th class="pl-4 pr-4">Filled hours</th>
            <th class="pl-4">Claimed</th>
            <th class="pl-4 pr-4">Filled hours</th>
            <th class="pl-4">Hours/dancer</th>
        </tr>
    </thead>
    <tbody>
    {% for t in hours %}
    <tr class="border-bottom">
        <th style="text-align:right;" class="pr-4">{{t}}</th>
        <td class="pl-4 pr-4 text-center">{{t.confirmed_dancers()|length}}</td>
        <td class="pl-4">{{hours[t].mandatory_total}}</td>
        <td class="pl-4 pr-4">{{hours[t].mandatory_assigned}} / {{hours[t].mandatory_total}}</td>
        <td class="pl-4">{{hours[t].voluntary_total}}</td>
        <td class="pl-4 pr-4">{{hours[t].voluntary_assigned}} / {{hours[t].voluntary_total}}</td>
        <td class="pl-4">{{hours[t].hours_per_dancer}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}