{% extends 'adjudication_system/adjudicate_base.html' %}

{% block app_content %}
<div class="px-3">
    <div class="mt-3">
        <h5>{{current_user.adjudicator}} ({{current_user.adjudicator.tag}})</h5>
        <p>Please select a competition to adjudicate from below.</p>
        <p>If no competitions are visible, press "Reload".</p>
        {% for competition in current_user.adjudicator.competitions|sort(attribute='when') %}
        {% if competition.rounds|length > 0 %}
            {% if competition.last_round().is_active %}
                    <a class="btn btn-primary my-2" style="display:block;" href="{{url_for('adjudication_system.adjudicate_start_page', round_id=competition.last_round().round_id)}}">{{competition}}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>

    <a class="btn btn-outline-success my-5" style="display:block;" href="" onclick="location.reload(true);">Reload</a>
    <div class="mt-3">
        <h5>Your adjudication assignments for this tournament are:</h5>
        <ul>
        {% for competition in current_user.adjudicator.competitions|sort(attribute='when') %}
            <li>{{competition}}</li>
        {% endfor %}
        </ul>
    </div>
    <a class="btn btn-outline-danger my-4" style="display:block;" href="{{url_for('main.dashboard')}}">Exit adjudication environment</a>
</div>
{% endblock %}