{% extends 'bootstrap_base.html' %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<style>
body                        {font-family:"Trebuchet MS",Helvetica,sans-serif;}
@page                       {size:210mm 297mm; margin:20mm 10mm 10mm 10mm;}
.report                     {page-break-after:always; page-break-before:always; width:100%; border:none; border-collapse:collapse;}
.report tr td               {page-break-inside:avoid;}
.title-box                  {font-size:1.5rem; font-weight:bold; border:2pt solid black; text-align:left; padding-left:0.5em !important;}
.report tr td               {font-size:large;}
.separator                  {clear:both; width:100%; border-bottom:1pt solid black;}
.grey-separator             {clear:both; width:100%; border-bottom:1pt solid #efefef;}
.top-row                    {font-weight:bold;}
.first-col                  {padding-left:1em; padding-right:0.5em; text-align:left;}
.heat-by-start-no-col, .heat-by-dance-col
                            {padding-left:0.5em; padding-right:0.5em; text-align:left;}
</style>
{% endblock %}

{% block content %}
{% set dance_heat_list, dance_lead_follow_list = dancing_round.dance_heat_list(), dancing_round.dance_lead_follow_list() %}
<table class="report" id="heats-by-start">
    <thead>
        <tr>
            <td class="title-box" colspan="{{dancing_round.dances|length + 1}}">{{dancing_round}}<br/>Heats by start number{% if dancing_round.competition.is_change_per_dance() %} - Leads{% endif %}</td>
        </tr>
        <tr class="separator top-row">
            <td class="first-col">#</td>
            {% for dance in dancing_round.dances %}
            <td class="heat-by-start-no-col">{{dance.tag}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for couple in dancing_round.couples|sort(attribute='number') %}
        <tr class="grey-separator">
            <td class="first-col">{{couple.number}}</td>
            {% for dance in dancing_round.dances %}
            <td class="heat-by-start-no-col"><b>{{dance_heat_list[dance.tag][couple.number]}}</b>{% if dancing_round.competition.is_change_per_dance() %}: {{dance_lead_follow_list[dance.tag][couple.number]}}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if dancing_round.competition.is_change_per_dance() %}
<table class="report" id="heats-by-start-follows">
    <thead>
        <tr>
            <td class="title-box" colspan="{{dancing_round.dances|length + 1}}">{{dancing_round}}<br/>Heats by start number - Follows</td>
        </tr>
        <tr class="separator top-row">
            <td class="first-col">#</td>
            {% for dance in dancing_round.dances %}
            <td class="heat-by-start-no-col">{{dance.tag}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for couple in dancing_round.couples|sort(attribute='follow.number') %}
        <tr class="grey-separator">
            <td class="first-col">{{couple.follow.number}}</td>
            {% for dance in dancing_round.dances %}
            <td class="heat-by-start-no-col"><b>{{dance_heat_list[dance.tag][couple.number]}}</b>{% if dancing_round.competition.is_change_per_dance() %}: {{dance_lead_follow_list[dance.tag][couple.follow.number]}}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}

{% block scripts %}{% endblock %}