{% extends 'adjudication_system/adjudication_system_base.html' %}
{% import 'my_inline_wtf.html' as inline_wtf %}

{% block app_content %}
<h2>Split after {{dancing_round.competition}}</h2>
<p>The {{dancing_round.competition}} will be split into:</p>

<ul class="row mx-0 px-0">
    {% for qualification in dancing_round.competition.qualifications|sort(attribute='when') %}
    <li class="list-group-item col-auto">{{ qualification.dancing_class }}</li>
    {% endfor %}
</ul>

<form class="form-row" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <div class="col-2">
    {{ inline_wtf.form_field(form.scenarios) }}
    </div>
    <div class="col-12">
        {{ inline_wtf.form_field(form.submit) }}
        <a role="button" class="btn btn-outline-secondary ml-2" href="{{url_for('adjudication_system.progress', round_id=request.args.get('round_id'))}}">Cancel</a>
    </div>
</form>

{% endblock %}

