<h2>Selected dancers <span class="badge badge-pill badge-dark" style="font-size:x-large">{{ raffle_sys.selected_dancers|length }}</span></h2>
<div id="accordion">
{% for team in teams %}
{% if team['selected_dancers']|length > 0 %}
<div class="card {% if team['guaranteed_dancers']|length > 0 %}danger{% endif %}">
    <div class="card-header" role="button" id="{{ team['id_title'] }}-selected" data-toggle="collapse" data-parent="#accordion" href="#{{ team['id'] }}-selected" aria-expanded="false" aria-controls="{{ team['id'] }}-selected">
        <h5 class="card-title">{{ team['team'].country }} - {{ team['team'].name }}
            <span class="badge badge-pill badge-dark" style="font-size:large;">{{ team['selected_dancers']|length }}/{{ team['available_dancers']|length + team['selected_dancers']|length }}</span>
        </h5>
    </div>
    <div id="{{ team['id'] }}-selected" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{ team['id_title'] }}-selected">

        <table class="table table-sm table-responsive">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">
                        Ballroom
                    </th>
                    <th colspan="2">
                        Latin
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for dancer in team['selected_dancers'] %}
                <tr class="{% if dancer.status_info.guaranteed_entry is sameas true %}table-success{% elif dancer.contestant_info.team_captain is sameas true %}table-success{% endif %}" style="{% if dancer.contestant_info.team_captain == true %}font-weight: bold;{% endif %}">
                    <td>
                        {{ dancer.get_full_name() }}{% if dancer.contestant_info.team_captain == true %} - Team captain{% endif %}
                    </td>
                    <td>
                        {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).level] }}
                    </td>
                    <td>
                        {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).role] }}
                    </td>
                    <td>
                        {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).level] }}
                    </td>
                    <td>
                        {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).role] }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class=card-footer><small style="visibility: hidden">Footer</small></div>
    </div>
</div>
{% endif %}
{% endfor %}
</div>