<h2>Summary</h2>
<div class="row mb-2">
    <div class=" col-sm-6 col-md-3 col-lg-3">
        <b>Total spots available:</b><br/>
        {{ g.rc.maximum_number_of_dancers }}
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <b>Dancers in the raffle system:</b><br/>
        {{ raffle_sys.selected_dancers|length + raffle_sys.confirmed_dancers|length }}
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <b>Dancers available:</b><br/>
        {{ raffle_sys.registered_dancers|length }}
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3">
        <b>Sleeping spots taken:</b><br/>
        {{ raffle_sys.number_of_sleeping_spots() }}
    </div>
</div>