{% extends "raffle/raffle_base.html" %}

{% block app_content %}
<ul class="nav nav-tabs" id=myTabs role=tablist>
	<li class="nav-item">
		<a class="nav-link" href=#system id=system-tab role=tab data-toggle=tab aria-controls=system aria-expanded=true>System</a>
	</li>
    <li class="nav-item">
        <a class="nav-link" href=#overview id=overview-tab data-toggle=tab aria-controls=overview-contents>Overview Dancers</a>
    </li>
</ul>
<div class=tab-content id=myTabContent>
	<div class="tab-pane fade in active" role=tabpanel id=system aria-labelledby=system-tab>
        {% if g.ts.raffle_completed_message_sent is sameas false %}
        <div id="send-message-to-team-captains" style="width:100%">
            <div style="display: table; margin: 0 auto; text-align: center;">
                <h2>Notify team captains</h2>
                <p>Send a generic e-mail to all team captains to notify them that the main raffle has taken place and that the results are now visible.</p>
                <button class="btn btn-outline-primary" onclick="sendRaffleNotificationEmail('/api/tournament_state/raffle_completed_message_sent/send_generic_email/', 'PATCH')">Send generic e-mail</button>
                <p></p>
                <button class="btn btn-outline-secondary" onclick="sendRaffleNotificationEmail('/api/tournament_state/raffle_completed_message_sent/send_own_email/', 'PATCH')">I will send my own e-mails</button>
            </div>
        </div>
        {% endif %}

        {% with raffle_sys=raffle_sys %}
            {% include 'raffle/_summary.html' %}
        {% endwith %}

        {% set width = 0 %}
        {% if raffle_sys.selected_dancers|length > 0 %}{% set width = width + 1 %}{% endif %}
        {% if raffle_sys.confirmed_dancers|length > 0 %}{% set width = width + 1 %}{% endif %}
        {% if raffle_sys.registered_dancers|length > 0 %}{% set width = width + 1 %}{% endif %}
        {% if raffle_sys.selected_dancers|length > 0 and raffle_sys.confirmed_dancers|length > 0 %}{% set width_md = true %}{% else %}{% set width_md = false %}{% endif %}

        <h2>Overview</h2>
        <div class="row">
            {% if raffle_sys.selected_dancers|length > 0 %}
            <div class="col-sm-12 col-md-6 col-lg-{{ 12//width }}">
                {% with subtitle='Selected', dancers=raffle_sys.selected_dancers, stats=raffle_sys.get_stats(g.data.SELECTED) %}
                    {% include 'raffle/_stats.html' %}
                {% endwith %}
            </div>
            {% endif %}
            {% if raffle_sys.confirmed_dancers|length > 0 %}
            <div class="col-sm-12 col-md-6 col-lg-{{ 12//width }}">
                {% with subtitle='Confirmed', dancers=raffle_sys.confirmed_dancers, stats=raffle_sys.get_stats(g.data.CONFIRMED) %}
                    {% include 'raffle/_stats.html' %}
                {% endwith %}
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-{%if width_md%}12{%else%}6{%endif%} col-lg-{{ 12//width }}">
                {% with subtitle='Available', dancers=raffle_sys.registered_dancers, stats=raffle_sys.get_stats(g.data.REGISTERED) %}
                    {% include 'raffle/_stats.html' %}
                {% endwith %}
            </div>
        </div>

        {% if raffle_sys.selected_dancers|length > 0 %}
        {% with source=g.data.SELECTED, panel_title='Breakdown of selected dancers', toggle_id="selected" %}
            {% include 'raffle/_raffle_available_combinations_panel.html' %}
        {% endwith %}
        {% endif %}

        {% if raffle_sys.confirmed_dancers|length > 0 %}
        {% with source=g.data.CONFIRMED, panel_title='Breakdown of confirmed dancers', toggle_id="confirmed" %}
            {% include 'raffle/_raffle_available_combinations_panel.html' %}
        {% endwith %}
        {% endif %}

        {% include 'raffle/_controls.html' %}
	</div>

    <div class="tab-pane fade" role=tabpanel id=overview aria-labelledby=overview-tab>
        {% with teams=teams %}
            {% include 'raffle/_confirmed_list.html' %}
        {% endwith %}
    </div>

</div>
{% endblock %}