{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block container_style -%}
visibility:visible
{%- endblock %}

{% block app_content %}
<h2>Raffle configuration</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <h3>Tournament size</h3>
    {{ my_wtf.form_field(form.maximum_number_of_dancers) }}
    {{ my_wtf.form_field(form.selection_buffer) }}
    {% if g.sc.beginners_level is sameas true %}
    <h3>Beginners</h3>
    {{ my_wtf.form_field(form.beginners_guaranteed_entry_cutoff, disabled=g.ts.main_raffle_taken_place, **{'onchange': "BeginnersCutoff(this)", 'onkeyup': "BeginnersCutoff(this)"}) }}
    {{ my_wtf.form_field(form.beginners_guaranteed_cutoff, disabled=g.ts.main_raffle_taken_place) }}
    {{ my_wtf.form_field(form.beginners_guaranteed_per_team, disabled=g.ts.main_raffle_taken_place, **{'onchange': "BeginnersPerTeam(this)", 'onkeyup': "BeginnersPerTeam(this)"}) }}
    {{ my_wtf.form_field(form.beginners_minimum_entry_per_team, disabled=g.ts.main_raffle_taken_place) }}
    {{ my_wtf.form_field(form.beginners_increased_chance, disabled=g.ts.main_raffle_taken_place) }}
    {% endif %}
    {% if g.sc.first_time_ask is sameas true %}
    <h3>First time attendees</h3>
    {{ my_wtf.form_field(form.first_time_guaranteed_entry, disabled=g.ts.main_raffle_taken_place, **{'onchange': "FirstTime(this)", 'onkeyup': "FirstTime(this)"}) }}
    {{ my_wtf.form_field(form.first_time_increased_chance, disabled=g.ts.main_raffle_taken_place) }}
    {% endif %}
    <h3>Teams</h3>
    {{ my_wtf.form_field(form.guaranteed_team_size, disabled=g.ts.main_raffle_taken_place, **{'onchange': "TeamSize(this)", 'onkeyup': "TeamSize(this)"}) }}
    {{ my_wtf.form_field(form.minimum_team_size, disabled=g.ts.main_raffle_taken_place) }}
    {% if g.sc.tournament == g.data.NTDS %}
    <h3>Lion contestants</h3>
    {{ my_wtf.form_field(form.lions_guaranteed_per_team, disabled=g.ts.main_raffle_taken_place, **{'onchange': "LionsPerTeam(this)", 'onkeyup': "LionsPerTeam(this)"}) }}
    {{ my_wtf.form_field(form.closed_lion, disabled=g.ts.main_raffle_taken_place) }}
    {{ my_wtf.form_field(form.open_class_lion, disabled=g.ts.main_raffle_taken_place) }}
    {{ my_wtf.form_field(form.lions_minimum_entry_per_team, disabled=g.ts.main_raffle_taken_place) }}
    {% endif %}
    <div class="form-group required">
        <label class="control-label" ></label>
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Configure System">&nbsp;
            <a role="button" class="btn btn-default" href="{{ url_for('main.index') }}">Cancel</a>
        </div>
    </div>
</form>
{#my_wtf.quick_form(form)#}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if not g.ts.main_raffle_taken_place %}
<script>
function onStart() {
    document.getElementById('beginners_guaranteed_per_team').onchange();
    document.getElementById('beginners_guaranteed_entry_cutoff').onchange();
    document.getElementById('first_time_guaranteed_entry').onchange();
    document.getElementById('guaranteed_team_size').onchange();
    document.getElementById('lions_guaranteed_per_team').onchange();
    var container = document.getElementById('container-hidden').style.visibility = "visible";
}

var old_beginners_increased_chance = "{{form.beginners_increased_chance.data}}"
var old_beginners_guaranteed_cutoff = {{form.beginners_guaranteed_cutoff.data}}
function BeginnersCutoff(beginners_guaranteed_entry_cutoff) {
    let beginners_guaranteed_cutoff = document.getElementById("beginners_guaranteed_cutoff")
    let beginners_guaranteed_per_team = document.getElementById("beginners_guaranteed_per_team")
    let beginners_increased_chance = document.getElementById("beginners_increased_chance")

    if (beginners_guaranteed_entry_cutoff.value == "True") {
        beginners_guaranteed_cutoff.removeAttribute('disabled');
        beginners_guaranteed_cutoff.value = old_beginners_guaranteed_cutoff;
        beginners_guaranteed_per_team.setAttribute('disabled', true);
        old_beginners_guaranteed_per_team = beginners_guaranteed_per_team.value;
        beginners_guaranteed_per_team.value = "False";
        beginners_increased_chance.setAttribute('disabled', true);
        old_beginners_increased_chance = beginners_increased_chance.value;
        beginners_increased_chance.value = "False";
    } else {
        beginners_guaranteed_cutoff.setAttribute('disabled', true);
        old_beginners_guaranteed_cutoff = beginners_guaranteed_cutoff.value;
        beginners_guaranteed_cutoff.value = 0;
        beginners_guaranteed_per_team.removeAttribute('disabled');
        beginners_guaranteed_per_team.value = old_beginners_guaranteed_per_team;
    }
    beginners_guaranteed_per_team.onchange();
}

var old_beginners_guaranteed_per_team = "{{form.beginners_guaranteed_per_team.data}}"
var old_beginners_minimum_entry_per_team = {{form.beginners_minimum_entry_per_team.data}}
function BeginnersPerTeam(beginners_guaranteed_per_team) {
    let beginners_minimum_entry_per_team = document.getElementById("beginners_minimum_entry_per_team")
    let beginners_increased_chance = document.getElementById("beginners_increased_chance")
    let beginners_guaranteed_entry_cutoff = document.getElementById("beginners_guaranteed_entry_cutoff")

    if (beginners_guaranteed_per_team.value == "False") {
        beginners_minimum_entry_per_team.setAttribute('disabled', true);
        old_beginners_minimum_entry_per_team = beginners_minimum_entry_per_team.value;
        beginners_minimum_entry_per_team.value = 0;
        if (beginners_guaranteed_entry_cutoff.value == "False") {
            beginners_increased_chance.removeAttribute('disabled');
            beginners_increased_chance.value = old_beginners_increased_chance;
        }
    } else {
        beginners_minimum_entry_per_team.removeAttribute('disabled');
        beginners_minimum_entry_per_team.value = old_beginners_minimum_entry_per_team;
        beginners_increased_chance.setAttribute('disabled', true);
        old_beginners_increased_chance = beginners_increased_chance.value;
        beginners_increased_chance.value = "False";
    }
}

var old_first_time_increased_chance = "{{form.first_time_increased_chance.data}}"
function FirstTime(first_time_guaranteed_entry) {
    let first_time_increased_chance = document.getElementById("first_time_increased_chance")

    if (first_time_guaranteed_entry.value == "True") {
        first_time_increased_chance.setAttribute('disabled', true);
        old_first_time_increased_chance = first_time_increased_chance.value;
        first_time_increased_chance.value = "False"
    } else {
        first_time_increased_chance.removeAttribute('disabled');
        first_time_increased_chance.value = old_first_time_increased_chance;
    }
}

var old_minimum_team_size = {{form.minimum_team_size.data}}
function TeamSize(guaranteed_team_size) {
    let minimum_team_size = document.getElementById("minimum_team_size")

    if (guaranteed_team_size.value == "False") {
        minimum_team_size.setAttribute('disabled', true);
        old_minimum_team_size = minimum_team_size.value;
        minimum_team_size.value = 0
    } else {
        minimum_team_size.removeAttribute('disabled');
        minimum_team_size.value = old_minimum_team_size;
    }
}

var old_lions_guaranteed_per_team = "{{form.lions_guaranteed_per_team.data}}"
var old_closed_lion = "{{form.closed_lion.data}}"
var old_open_class_lion = "{{form.open_class_lion.data}}"
var old_lions_minimum_entry_per_team = {{form.lions_minimum_entry_per_team.data}}
function LionsPerTeam(lions_guaranteed_per_team) {
    let lions_minimum_entry_per_team = document.getElementById("lions_minimum_entry_per_team")
    let closed_lion = document.getElementById("closed_lion")
    let open_class_lion = document.getElementById("open_class_lion")

    if (lions_guaranteed_per_team.value == "False") {
        lions_minimum_entry_per_team.setAttribute('disabled', true);
        old_lions_minimum_entry_per_team = lions_minimum_entry_per_team.value;
        lions_minimum_entry_per_team.value = 0;
        closed_lion.setAttribute('disabled', true);
        old_closed_lion = closed_lion.value;
        closed_lion.value = "False";
        open_class_lion.setAttribute('disabled', true);
        old_open_class_lion = open_class_lion.value;
        open_class_lion.value = "False";
    } else {
        lions_minimum_entry_per_team.removeAttribute('disabled');
        lions_minimum_entry_per_team.value = old_lions_minimum_entry_per_team;
        closed_lion.removeAttribute('disabled');
        closed_lion.value = old_closed_lion;
        open_class_lion.removeAttribute('disabled');
        open_class_lion.value = old_open_class_lion;
    }
}
</script>
{% endif %}
{% endblock %}