{% extends "raffle/raffle_base.html" %}

{% block app_content %}
<div style="width:100%">
    <div style="display: table; margin: 0 auto; text-align: center;">
        <h1>ADMIN VIEW</h1>
        <h2>Raffle confirmation</h2>
        <p>The raffle is only visible for you so far.</p>
        <p>Click the button below to confirm the raffle, and make the results visible to the teamcaptains.</p>
        <form class="form" method="POST" enctype="multipart/form-data" novalidate>
            <button type="submit" id="submit-confirm_raffle" name="confirm_raffle" class="btn btn-success loading-btn">Confirm Raffle</button>
            <button type="submit" id="submit-cancel_raffle" name="cancel_raffle" class="btn btn-warning loading-btn">Cancel Raffle</button>
        </form>
    </div>
</div>

{% with raffle_sys=raffle_sys %}
    {% include 'raffle/_summary.html' %}
{% endwith %}
<h2>Test summary</h2>
<div class="row">
    <div class="col-sm-6 col-md-3 col-lg-3">
        <p><b>Guaranteed dancers_left</b></p>
        {{ raffle_sys.guaranteed_dancers() }}
    </div>
</div>

<h2>Overview</h2>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        {% with subtitle='Selected', dancers=raffle_sys.selected_dancers, stats=raffle_sys.get_stats(g.data.SELECTED) %}
            {% include 'raffle/_stats.html' %}
        {% endwith %}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        {% with subtitle='Available', dancers=raffle_sys.registered_dancers, stats=raffle_sys.get_stats(g.data.REGISTERED) %}
            {% include 'raffle/_stats.html' %}
        {% endwith %}
    </div>
</div>

{% include 'raffle/_controls.html' %}
{% endblock %}
