<div class="col-sm-4 col-md-3 col-lg-2 {% if accessible is sameas false %}opaque{% endif %}">
    <a {% if accessible is sameas false %}{% else %}href="{{url}}"{% endif %} style="text-decoration:none;color:black;">
        <div class="card my-2 thumbnail-same-height {% if accessible is sameas false %}inaccessible{% endif %}" >
            <img src="{{url_for('static', filename='association_logo/'+image)}}" class="card-img-top mx-auto mt-2" style="max-width: 112px; max-height: 112px;">
            <div class="card-body" style="text-align: center;">
                <h5 class="card-title">{{ title }}</h5>
                {% if text is defined %}
                    <p class="card-text">{{ text }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>