<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 {% if accessible is sameas false %}opaque{% endif %}">
    <a {% if accessible is sameas false %}{% else %}href="{{url}}"{% endif %} style="text-decoration:none">
        <div class="thumbnail thumbnail-same-height {% if accessible is sameas false %}inaccessible{% endif %}" >
            <img src="{{url_for('static', filename='association_logo/'+image)}}" class="img-rounded" width="140" height="140" style="margin-top: 8px;">
            <div class="caption text-center" >
                <h4>{{ title }}</h4>
                {% if text is defined %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>