{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<h2>Change e-mail address of {{user.username}}</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ my_wtf.form_field(form.email) }}
    <div class="form-group required">
        <label class="control-label" ></label>
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Change e-mail">&nbsp;
            <a role="button" class="btn btn-default" href="{{ url_for('organizer.user_list') }}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}