{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<h2>Organizer account</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ my_wtf.form_field(form.username, disabled='') }}
    {{ my_wtf.form_field(form.email) }}
    {{ my_wtf.form_field(form.password) }}
    {{ my_wtf.form_field(form.repeat_password) }}
    {{ my_wtf.form_field(form.send_email) }}
    <div class="form-group required">
        <label class="control-label" ></label>
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="{% if user is none %}Create account{% else %}Save changes{% endif %}">&nbsp;
            <a role="button" class="btn btn-default" href="{{ url_for('self_admin.user_list') }}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}