{% extends "base.html" %}

{% block app_content %}
    <h2>Test data</h2>
    <p>The system can be prepopulated with test data. Choose one of the previous tournaments below. You can also just reset the system, without adding any preset data.</p>
    <form class="form my-3" method="POST" enctype="multipart/form-data" novalidate>
        <button type="submit" class="btn btn-warning" name="clear_tables">Reset system</button>
    </form>
    <div class="d-grid grid-row-gap-2 grid-column-gap-2">
    {% for tournament in past_tournaments %}
        <div class="card">
            <div class="card-header clickable" data-toggle="collapse" data-target="#card-{{ tournament.replace(" ", "") }}">
            {{ tournament }} <span class="badge badge-pill badge-dark">{{ past_tournaments[tournament]["contestants"] }}</span>
            </div>
            <div class="card-body py-0 px-3 collapse" id="card-{{ tournament.replace(" ", "") }}">
                <table class="table table-sm">
                    <tbody>
                    <tr>
                        <th class="border-top-0" colspan="2">Competition settings</th>
                    </tr>
                    <tr>
                        <td style="width: 75%">Number of teamcaptains</td><td class="text-right">{{ past_tournaments[tournament]["number_of_teamcaptains"] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a Beginners level?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["beginners_level"]] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a CloseD level?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["closed_level"]] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a cutoff where Breitensport dancers must blind date?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["breitensport_obliged_blind_date"]] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a Salsa competition?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["salsa_competition"]] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a Polka competition?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["polka_competition"]] }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Entry prices</th>
                    </tr>
                    <tr>
                        <td>Students</td><td class="text-right">{{ g.data.euros(past_tournaments[tournament]["student_price"]) }}</td>
                    </tr>
                    <tr>
                        <td>Non-students</td><td class="text-right">{{ g.data.euros(past_tournaments[tournament]["non_student_price"]) }}</td>
                    </tr>
                    <tr>
                        <td>Is there a special category for PhD-students?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["phd_student_category"]] }}</td>
                    </tr>
                    <tr>
                        <td>PhD-students</td>
                        <td class="text-right">
                            {% if past_tournaments[tournament]["phd_student_category"] %}
                            {{ g.data.euros(past_tournaments[tournament]["phd_student_price"]) }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Refunds (before certain date)</th>
                    </tr>
                    <tr>
                        <td>Is there a full refund?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["finances_full_refund"]] }}</td>
                    </tr>
                    <tr>
                        <td>Is there a partial refund?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["finances_partial_refund"]] }}</td>
                    </tr>
                    <tr>
                        <td>How much is the partial refund?</td>
                        <td class="text-right">
                            {% if past_tournaments[tournament]["finances_partial_refund"] %}
                            {{ past_tournaments[tournament]["finances_partial_refund_percentage"] }}%
                            {% else %}
                            -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">Questions asked during registration</th>
                    </tr>
                    <tr>
                        <td>Is this your first time attending an {{ past_tournaments[tournament]["tournament"] }}?</td>
                        <td class="text-right">{{ g.data.TF[past_tournaments[tournament]["first_time_ask"]] }}</td>
                    </tr>
                    <tr>
                        <td>Will you be 18 years or older at the time of the tournament?</td>
                        <td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_adult"]] }}</td>
                    </tr>
                    <tr>
                        <td>Do you have any dietary restrictions and/or allergies?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_diet_allergies"]] }}</td>
                    </tr>
                    <tr>
                        <td>Do you wish to volunteer?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_volunteer"]] }}</td>
                    </tr>
                    <tr>
                        <td>Are you a qualified First Aid officer and do you with to volunteer as one?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_first_aid"]] }}</td>
                    </tr>
                    <tr>
                        <td>Are you a qualified Emergency Response Officer and do you with to volunteer as one?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_emergency_response_officer"]] }}</td>
                    </tr>
                    <tr>
                        <td>What is your highest achieved level (per discipline)?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_adjudicator_highest_achieved_level"]] }}</td>
                    </tr>
                    <tr>
                        <td>Do you have a certification for adjudicating (per discipline)?</td><td class="text-right">{{ g.data.TF[past_tournaments[tournament]["ask_adjudicator_certification"]] }}</td>
                    </tr>
                    <tr>
                        <th colspan="2">Merchandise</th>
                    </tr>
                    {% if past_tournaments[tournament]["merchandise"]|length == 0 %}
                    <tr>
                        <td colspan="2">There was no merchandise for this tournament.</td>
                    </tr>
                    {% else %}
                        {% for merchandise in past_tournaments[tournament]["merchandise"] %}
                            <tr>
                                <td>
                                    <div>{{ merchandise["description"] }}</div>
                                    {% for variant in merchandise["variants"] %}
                                        <div class="pl-3"><small>{{ variant }}</small></div>
                                    {% endfor %}
                                </td>
                                <td class="text-right align-text-top">{{ g.data.euros(merchandise["price"]) }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <form class="form my-3" method="POST" enctype="multipart/form-data" novalidate>
                    <button type="submit" class="btn btn-primary" name="test_data" value="{{ tournament }}">Populate system</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}