{% if notifications|length > 0 %}
<div id="accordion">
    {% for notification in notifications %}
    <div class="card mb-1">
        <div style="background-color:{% if notification.unread %}#fff{%else%}#f5f5f5{%endif%}" class="card-header py-1" role="button" id="heading-{{notification.notification_id}}" data-toggle="collapse" href="#collapse-{{notification.notification_id}}" aria-expanded="false" aria-controls="collapse-{{notification.notification_id}}">
            <div class="card-title" style="font-size:small; {% if notification.unread %}font-weight:bold{% endif %}">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">{{notification.get_sender()}}</div>
                    <div class="col-sm-12 col-md-6 col-lg-6">{{notification.title}}</div>
                    <div class="col-sm-12 col-md-3 col-lg-3" style="text-align: right;">{{moment(notification.timestamp).fromNow()}}</div>
                </div>
            </div>
        </div>
        <div id="collapse-{{notification.notification_id}}" class="collapse {% if opened and (notification.unread or notification.sender is none) %}show_{% endif %}" role="tabpanel" aria-labelledby="heading-{{notification.notification_id}}">
            <div class="card-body notification-text">{{notification.text}}</div>
            <div class="card-footer py-0">
                {% if notification.unread %}
                <a class="btn btn-outline-dark btn-sm mr-2 my-1" href="{{url_for('notifications.read', notification=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/mail-read.svg')}}">Mark as read
                </a>
                {% else %}
                <a class="btn btn-outline-dark btn-sm mr-2 my-1" href="{{url_for('notifications.unread', notification=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/mail.svg')}}">Mark as unread
                </a>
                {% endif%}

                {% if notification.archived %}
                <a class="btn btn-outline-dark btn-sm mr-5 my-1" href="{{url_for('notifications.unarchive',notification=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/file-symlink-directory.svg')}}">Move to inbox
                </a>
                {% else %}
                <a class="btn btn-outline-dark btn-sm mr-5 my-1" href="{{url_for('notifications.archive',notification=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/archive.svg')}}">Archive
                </a>
                {% endif%}

                {% if notification.sender is not none %}
                <a class="btn btn-outline-dark btn-sm mr-2 my-1" href="{{url_for('notifications.create', user_id=notification.sender_id, notification_id=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/reply.svg')}}">Reply
                </a>
                {% endif %}

                {% if notification.destination %}
                <a style="float: right" class="btn btn-outline-dark btn-sm" href="{{url_for('notifications.goto',notification=notification.notification_id)}}">
                    <img class="mr-2" src="{{url_for('static', filename='octicons/rocket.svg')}}">Goto
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
No messages
{% endif %}