{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block container_style -%}
visibility:hidden
{%- endblock %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}


{% block app_content %}
<h2>Compose message</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.recipients) }}
    {{ wtf.form_field(form.title) }}
    {{ wtf.form_field(form.body) }}
    {{ wtf.form_field(form.submit) }}
    <a role="button" class="btn btn-default" href="{{ url_for('notifications.messages') }}">Cancel</a>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function onStart() {
    var container = document.getElementById('container-hidden').style.visibility = "visible";
}
</script>
{% endblock %}