{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #000;
    background-color: #e8eaed;
}
</style>
{% endblock %}

{% block app_content %}
<h2>Messages</h2>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2">
        <ul class="nav nav-pills nav-stacked" id=myTabs role=tablist>
            <li role=presentation>
                <a href="{{ url_for('notifications.create') }}" class="btn btn-primary navbar-btn">Compose message</a>
            </li>
            <li><div style="height:30px"></div></li>
            <li role=presentation class=active>
                <a href=#inbox id=inbox-tab role=tab data-toggle=tab aria-controls=inbox aria-expanded=true style="font-size:large;color:#000">Inbox</a>
            </li>
            <li role=presentation>
                <a href=#archive id=archive-tab data-toggle=tab aria-controls=archive-contents style="font-size:large;color:#000">Archive</a>
            </li>
            <li role=presentation>
                <a href=#sent id=sent-tab data-toggle=tab aria-controls=sent-contents style="font-size:large;color:#000">Sent</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
        <div style="height:8px"></div>
        <!--<small style="visibility: hidden">Footer</small>-->
        <div class="tab-content" id=myTabContent>
            <div class="tab-pane fade in active" role=tabpanel id=inbox aria-labelledby=inbox-tab>
                {% with notifications=inbox_messages %}
                    {% include 'notifications/_message_list.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" role=tabpanel id=archive aria-labelledby=archive-tab>
                {% with notifications=archived_messages %}
                    {% include 'notifications/_message_list.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" role=tabpanel id=sent aria-labelledby=sent-tab>
                {% with notifications=sent_messages %}
                    {% include 'notifications/_sent_messages_list.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

{% endblock %}