{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style>
.nav-pill > a.active, .nav-pills > a:focus, .nav-pills > a:hover {background-color: #e8eaed;}
.nav-pills .nav-link.active {opacity:0.5}
</style>
{% endblock %}

{% block app_content %}
<h2>Messages</h2>
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2">
        <div class="nav flex-column nav-pills" id=myTabs role=tablist>
            <a href="{{ url_for('notifications.create') }}" class="btn btn-primary nav-link">Compose message</a>
            <div style="height:30px"></div>
            <a class="nav-link" href=#inbox id=inbox-tab role=tab data-toggle=tab aria-controls=inbox-contents aria-expanded=true style="font-size:large;">Inbox <span class="badge badge-pill badge-light">{{ inbod_messages|length }}</span></a>
            <a class="nav-link" href=#archive id=archive-tab data-toggle=tab aria-controls=archive-contents style="font-size:large;">Archive <span class="badge badge-pill badge-light">{{ archived_messages|length }}</span></a>
            <a class="nav-link" href=#sent id=sent-tab data-toggle=tab aria-controls=sent-contents style="font-size:large;">Sent <span class="badge badge-pill badge-light">{{ sent_messages|length }}</span></a>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-10">
        <div style="height:8px"></div>
        <div class="tab-content" id=myTabContent>
            <div class="tab-pane fade in active" role=tabpanel id=inbox aria-labelledby=inbox-tab>
                {% with notifications=inbox_messages, opened=true %}
                    {% include 'notifications/_message_list.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" role=tabpanel id=archive aria-labelledby=archive-tab>
                {% with notifications=archived_messages%}
                    {% include 'notifications/_message_list.html' %}
                {% endwith %}
            </div>
            <div class="tab-pane fade" role=tabpanel id=sent aria-labelledby=sent-tab>
                {% with notifications=sent_messages %}
                    {% include 'notifications/_sent_messages_list.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    $('#inbox-tab').click();
});
</script>
{% endblock %}