{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block app_content %}
<h2>Check in dancers</h2>
<button id="collapse-all" type="button" class="btn btn-outline-primary" onclick="collapseAll()">Collapse all</button>
<div style="height:20px;"></div>

<div id="accordion" style="">
{% for team in teams %}<div id="render-team-{{team['team_id']}}"></div>{% endfor%}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ react() }}
<script src="{{url_for('static', filename='src/CheckInCard.js')}}"></script>
<script>
    const e = React.createElement;
    {% for team in teams %}
    ReactDOM.render(e(CheckInCard, {start_dancers:{{team["dancers"] | tojson}},  team_id:'{{team["team_id"]}}',  teamName:'{{team["name"]}}'}), document.getElementById('render-team-{{team["team_id"]}}'));
    {% endfor %}
</script>
<script>
function collapseAll() {
    $('#accordion .collapse').collapse('hide');
}
</script>
{% endblock %}
