{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<h2>Check in dancers</h2>
<button id="collapse-all" type="button" class="btn btn-default" onclick="collapseAll()">Collapse all</button>
<div style="height:10px;"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for team in teams %}
        {% with team=team %}
            {% include 'check_in_assistant/_check_in_list.html' %}
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function collapseAll() {
    $('#accordion .panel-collapse').collapse('hide');
}
</script>
{% endblock %}
