{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}


{% block head %}
{{ super() }}
{% endblock %}

{% block app_content %}
<h2>Check in dancers</h2>
<button id="collapse-all" type="button" class="btn btn-default" onclick="collapseAll()">Collapse all</button>
<div style="height:20px;"></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
{% for team in teams %}<div class="panel panel-default" id="render-team-{{team['team_id']}}"></div>{% endfor%}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ react() }}

<script src="{{url_for('static', filename='src/dancer_list2.js')}}"></script>
<script>
    const e = React.createElement;
    {% for team in teams %}
    ReactDOM.render(e(DancerList, {start_dancers:{{team["dancers"] | tojson}},  team_id:'{{team["team_id"]}}',  teamName:'{{team["name"]}}'}), document.getElementById('render-team-{{team["team_id"]}}'));
    {% endfor %}
</script>
<script>{#
    const e = React.createElement;

    const domContainer = document.querySelector('#like_button_container');
    ReactDOM.render(e(DancerList), domContainer);#}
</script>
<script>
function collapseAll() {
    $('#accordion .panel-collapse').collapse('hide');
}
</script>
<script>
function teamConfirmedDancersApiCall() {
    fetch("/api/team/guaranteed_dancers/1", {method: "GET"})
    .then(function(response) {return response.json();})
    .then(function(result) {if (result) {return result}})
    .catch(function(error) {console.log('Error: \n', error);});
}
</script>
{% endblock %}
