<div class="form-group required">
    <div class="col-xs-offset-2 col-xs-10">
        <div class="checkbox">
            <label>
                <input id="privacy_checkbox" name="privacy_checkbox" type="checkbox" value="y" onclick="{% if mode == 'view' and dancer.status_info[0].status == g.data.NO_GDPR %}privacyPolicy(this){% endif %}">I have read the <a data-toggle="modal" data-target="#privacy-modal">privacy notice</a> and give consent for the processing of my personal data, as well as the <a href="{{g.sc.terms_and_conditions_link}}" target="_blank">terms</a> stated on the tournament site
            </label>
        </div>
    </div>
</div>
<script>
function privacyPolicy(checkbox) {
    let div_submit = document.getElementById('submit');
    if (checkbox.checked) {div_submit.removeAttribute('disabled');
    } else {div_submit.setAttribute('disabled', true);}
}
</script>