<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 {% if accessible is sameas false %}opaque{% endif %}">
    <a href="{{url_for('organizer.bad')}}?{{name}}" style="text-decoration:none">
        <div class="thumbnail thumbnail-same-height" >
            <img src="{{url_for('static', filename='BAD/'+image)}}" class="img-rounded" width="100">
            <div class="caption text-center" >
                <h3>{{ title }}</h3>
                {% if text is defined %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>