{% for team in teams %}
<div class="tab-pane fade" role=tabpanel id={{team['id']}} aria-labelledby={{team['id']}}-tab>
    {% if (team['confirmed_dancers']|length + team['cancelled_dancers']|length) > 0 %}
    {% with finances=team['finances'] %}
            {% include 'organizer/_finances_summary.html' %}
        {% endwith %}

        {% with status='Confirmed dancers', dancers=team['confirmed_dancers'] %}
            {% include 'organizer/_finances_list.html' %}
        {% endwith %}

        {% with status='Cancelled dancers', dancers=team['cancelled_dancers'] %}
            {% include 'organizer/_finances_list.html' %}
        {% endwith %}
    {% else %}
    <h2>Team {{team['name']}} has no registered dancers.</h2>
    {% endif %}
</div>
{% endfor %}