{% if dancers|length > 0 %}
<div class="row">
    <h3>{{status}}</h3>
</div>
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 30%;">
    </colgroup>
    <thead>
        <tr>
            <th><b>Dancer</b></th>
            <th style="text-align:right"><b>Team</b></th>
            <th style="text-align:right"><b>Entry fee</b></th>
            <th style="text-align:right"><b>T-shirt</b></th>
            <th style="text-align:right"><b>Total amount</b></th>
        </tr>
    </thead>
    <tbody>
        {% for dancer in dancers %}
            <tr class="clickable-row {% if dancer.status_info[0].paid == true %}success{% endif %}">
                <td>
                    {{ dancer.contestant_info[0].number }} - {{ dancer.get_full_name() }}
                </td>
                <td style="text-align:right">
                    {{ dancer.contestant_info[0].team }}
                </td>
                <td style="text-align:right">
                    {{data.euros(data.PRICES['student'][dancer.contestant_info[0].student])}}
                </td>
                <td style="text-align:right">
                    {{data.euros(data.PRICES['t-shirt'][dancer.additional_info[0].t_shirt])}}
                </td>
                <td style="text-align:right">
                    {{data.euros(data.PRICES['t-shirt'][dancer.additional_info[0].t_shirt] + data.PRICES['student'][dancer.contestant_info[0].student])}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}