{% for team in teams %}
<div class="tab-pane fade" role=tabpanel id={{team['id']}} aria-labelledby={{team['id']}}-tab>
    {% if (team['confirmed_dancers']|length + team['cancelled_dancers']|length) > 0 %}
    {% with finances=team['finances'] %}
        {% include 'teamcaptains/_finances_summary.html' %}
    {% endwith %}
    <h2>Received by organization:</h2>
    <div style="font-size:x-large">{{ g.data.euros(team['team'].amount_paid) }} / {{ g.data.euros(team['finances']['price_total']) }}</div>
    {% with status='Confirmed dancers', finances=team['finances'], dancers=team['confirmed_dancers'] %}
        {% include 'teamcaptains/_finances_list.html' %}
    {% endwith %}
    {% with status='Cancelled dancers', finances=team['finances'], dancers=team['cancelled_dancers'], cancelable=true %}
        {% include 'teamcaptains/_finances_list.html' %}
    {% endwith %}
    {% with status='Refunds', finances=team['finances'], dancers=team['refund_dancers'] %}
        {% include 'teamcaptains/_refund_list.html' %}
    {% endwith %}
    {% else %}
    <h2>Team {{team['name']}} has no registered dancers.</h2>
    {% endif %}
</div>
{% endfor %}