<!--<p>Dancers in the raffle system: {{ selected_dancers|length + confirmed_dancers|length }}</p>-->
<!--<p>Sleeping spots taken: {{ sleeping_spots }}</p>-->
<!--<p>Dancers available: {{ available_dancers|length }}</p>-->
<h2>Summary</h2>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <p><b>Total spots available:</b></p>
        {{ raffle_config[data.MAX_DANCERS] }}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <p><b>Dancers in the raffle system:</b></p>
        {{ selected_dancers|length + confirmed_dancers|length }}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <p><b>Dancers available:</b></p>
        {{ available_dancers|length }}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <p><b>Sleeping spots taken:</b></p>
        {{ sleeping_spots }}
    </div>
</div>
<!--<table class="table">-->
    <!--<colgroup>-->
        <!--<col span="1" style="width: 25%;">-->
        <!--<col span="1" style="width: 25%;">-->
        <!--<col span="1" style="width: 25%;">-->
        <!--<col span="1" style="width: 25%;">-->
    <!--</colgroup>-->
    <!--<tbody>-->
        <!--<tr>-->
            <!--<th style="font-size:x-large">-->
                <!--Summary-->
            <!--</th>-->
            <!--<th></th>-->
            <!--<th></th>-->
            <!--<th></th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th>-->
                <!--Dancers in the raffle system-->
            <!--</th>-->
            <!--<th>-->
                <!--Dancers available-->
            <!--</th>-->
            <!--<th>-->
                <!--Sleeping spots taken-->
            <!--</th>-->
            <!--<th></th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>-->
                <!--{{ selected_dancers|length + confirmed_dancers|length }}-->
            <!--</td>-->
            <!--<td>-->
                <!--{{ available_dancers|length }}-->
            <!--</td>-->
            <!--<td>-->
                <!--{{ sleeping_spots }}-->
            <!--</td>-->
            <!--<td></td>-->
        <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->

{% if newly_selected is not none %}
    {% if newly_selected|length > 0 %}
    <h2>Selected by system, but not yet visible to teamcaptain</h2>
    <form class="form" method="POST" enctype="multipart/form-data" novalidate>
        <table class="table table-clickable-checkbox">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 5%;">
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Dancer</th>
                    <th>Email</th>
                    <th>Team</th>
                    <th>Ballroom partner</th>
                    <th>Latin partner</th>
                </tr>
            </thead>
            <tbody>
            {% for dancer in newly_selected %}
                <tr>
                    <td>
                        {{ dancer.contestant_info[0].number }}
                    </td>
                    <td>
                        {{ dancer.get_full_name() }}
                    </td>
                    <td>
                        {{ dancer.email }}
                    </td>
                    <td>
                        {{ dancer.contestant_info[0].team }}
                    </td>
                    <td>
                        {{ dancer.get_dancing_info(data.BALLROOM).partner }}
                    </td>
                    <td>
                        {{ dancer.get_dancing_info(data.LATIN).partner }}
                    </td>
                    <td><input class="checkbox" type="checkbox" value="y" style="visibility:hidden" id="{{ dancer.contestant_id }}" name="{{ dancer.contestant_id }}"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit" id="submit-select_marked_dancers" name="select_marked_dancers" class="btn btn-primary loading-btn">Add marked dancers</button>
        <button type="submit" id="submit-remove_marked_dancers" name="remove_marked_dancers" class="btn btn-warning loading-btn">Remove marked dancers</button>
    </form>
    {% endif %}
{% endif %}

<!--<h2>Available dancers <span id="{{ list_id }}-total-badge" class="badge" style="font-size:large">{{ available_dancers|length }}</span></h2>-->

<h2>Add dancers to tournament</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tbody>
            <tr>
                <th>
                    Fill tournament spots
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    Add random dancers until all the tournament spots are taken. Adding dancers through here will not change the differences indicted above.
                </td>
                <td align="right">
                    <button type="submit" id="submit-finish_raffle" name="finish_raffle" class="btn btn-primary loading-btn">Fill raffle</button>
                </td>
            </tr>
            <tr>
                <th>
                    Add group of dancers
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    If more than one dancers needs to be added, you can add a group of dancers. The added group will not change the differences indicated above.
                </td>
                <td align="right">
                    <button type="submit" id="submit-select_random_group" name="select_random_group" class="btn btn-primary loading-btn">Add random group</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!--<div class="row">-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">-->
        <!--<h3>Fill tournament spots</h3>-->
        <!--<p>Add random dancers until all the tournament spots are taken. Adding dancers through here will not change the differences indicted above. To change the differences use the controls below.</p>-->
        <!--<form class="form" method="POST" enctype="multipart/form-data" novalidate>-->
            <!--<button type="submit" id="submit-finish_raffle" name="finish_raffle" class="btn btn-primary loading-btn">Update raffle</button>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">-->
        <!--<h3>Add group of dancers</h3>-->
        <!--<p>If more than one dancers needs to be added, you can add a group of dancers. The added group will not change the differences indicated above.</p>-->
        <!--<form class="form" method="POST" enctype="multipart/form-data" novalidate>-->
            <!--<button type="submit" id="submit-select_random_group" name="select_random_group" class="btn btn-primary loading-btn">Add random group</button>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<!--<h2>Add single dancer</h2>-->
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 60%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <thead>
            <tr>
                <td colspan="3">The controls below allow you to select a random dancer of a specific combination of competition, level and role. Using these controls will change the differences indicated above.</td>
            </tr>
            <tr>
                <th>
                    Combination
                </th>
                <th>
                    # dancers available
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comb, val in available_combinations.items() %}
            <tr>
                <td>
                    {{ comb }}
                </td>
                <td>
                    {{ val }}
                </td>
                <td align="right">
                    <button type="submit" id="{{comb}}" name="{{comb}}" class="btn btn-info loading-btn">Add random dancer</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>