<li role=presentation class=dropdown>
    <a href=# class=dropdown-toggle id={{dropdown_name}} data-toggle=dropdown aria-controls={{dropdown_name}}-contents>{{dropdown_title}} <span class=caret></span></a>
    <ul class=dropdown-menu aria-labelledby={{dropdown_name}} id={{dropdown_name}}-contents>
        {% for team in teams %}
            <li>
                <a href=#{{team['id']}} role=tab id={{team['id']}}-tab data-toggle=tab aria-controls={{team['id']}}>{{team['name']}} <span class="badge">{{team['dancers']|length}}</span></a>
            </li>
        {% endfor %}
    </ul>
</li>