{% extends "base.html" %}

{% block app_content %}
<h2>{% if user is none %}Create{% else %}Edit{% endif %} {% if assistant == g.data.BLIND_DATE_ASSISTANT %}Blind Date Assistant{% elif assistant == g.data.CHECK_IN_ASSISTANT %}Check-In Assistant{% elif assistant == g.data.ADJUDICATOR_ASSISTANT %}Adjudicator Assistant{% elif assistant == g.data.TOURNAMENT_OFFICE_MANAGER %}Tournament Office Manager{% elif assistant == g.data.FLOOR_MANAGER %}Floor Manager{% endif %} account</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username, disabled='') }}
    {{ wtf.form_field(form.password) }}
    {{ wtf.form_field(form.repeat_password) }}
    <div class="form-group required">
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="{% if user is none %}Create account{% else %}Save changes{% endif %}">&nbsp;
            <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('organizer.user_list') }}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}