{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}

{% if ts.main_raffle_result_visible is sameas true %}
<h2>Download files for the BAD system</h2>
<!--Not done yet.-->
<form method="GET" enctype="multipart/form-data" novalidate>
    <input class="btn btn-info" id="submit-download_createUniverse" name="download_createUniverse" type="submit" value="Create Universe">
    <div style="height:10px"></div>
    <input class="btn btn-info" id="submit-download_createDB" name="download_createDB" type="submit" value="Create BAD database">
    <div style="height:10px"></div>
    <input class="btn btn-info" id="submit-download_createTournament" name="download_createTournament" type="submit" value="Create Tournament">
    <div style="height:10px"></div>
    <input class="btn btn-info" id="submit-download_populateCouples" name="download_populateCouples" type="submit" value="Populate Couples">
    <div style="height:10px"></div>
</form>


{% else %}
<h2>The raffle has not taken place yet.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
