{% extends "base.html" %}

{% block app_content %}
<h2>Team captain and Treasurer account</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.city) }}
    {{ wtf.form_field(form.country) }}
    <div class="form-group required">
        <div class="input-group">
            <input class="btn btn-primary" id="submit" name="submit" type="submit" value="{% if edit is sameas false %}Create Team{% else %}Save changes{% endif %}">&nbsp;
            <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('main.dashboard') }}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}