{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<table id="myTable" class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th><input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..."></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th><b>Name</b></th>
            <th><b>E-mail</b></th>
            <th><b>Team</b></th>
            <th><b>Status</b></th>
            <th><b>Ballroom</b></th>
            <th><b>Latin</b></th>
        </tr>
    </thead>
    <tbody>
        {% for dancer in dancers %}
            <tr>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.get_full_name() }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.email }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.contestant_info[0].team }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ data.STATUS[dancer.status_info[0].status] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).level] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).level] }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
$(document).ready(function($) {
    $(".clickable-row").css("cursor", "pointer")
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
{% endblock %}
