{% extends "base.html" %}

{% block app_content %}
<table id="myTable" class="table table-hover table-sm">
    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 14%;">
        <col span="1" style="width: 7%;">
        <col span="1" style="width: 11%;">
        <col span="1" style="width: 7%;">
        <col span="1" style="width: 11%;">
    </colgroup>
    <thead>
        <tr>
            <th colspan="1"><input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..."></th>
            <th colspan="3"></th>
            <th colspan="2">Ballroom</th>
            <th colspan="2">Latin</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Team</th>
            <th>Status</th>
            <th>Level</th>
            <th>Role</th>
            <th>Level</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for dancer in dancers %}
            <tr>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.get_full_name() }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.email }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ dancer.contestant_info.team }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{ data.STATUS[dancer.status_info.status] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).level] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).role] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).level] }}
                </td>
                <td class="clickable-row" data-href="{{url_for('organizer.edit_dancing_info', number=dancer.contestant_id)}}">
                    {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).role] }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
{% endblock %}
