{% extends "base.html" %}

{% block app_content %}
    {{ react() }}
    <script src="{{url_for('static', filename='js/react/TeamCaptainFinances.js')}}{{ aver }}" ></script>
    <script src="{{url_for('static', filename='js/react/OrganizerFinances.js')}}{{ aver }}" ></script>
    <div id="finances"></div>
    <script>
        ReactDOM.render(React.createElement(OrganizerFinances, {teams: {{teams | tojson}}, settings: {{g.sc.json_settings() | tojson}}}), document.getElementById('finances'));
    </script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}