{% extends "base.html" %}

{% block app_content %}
    {% if g.ts.main_raffle_result_visible %}
        {% if current_timestamp > g.sc.merchandise_closing_date and not g.ts.merchandise_finalized %}
            <div id="finalize-merchandise" class="w-100">
                <div style="display: table; margin: 0 auto; text-align: center;">
                    <h2>Finalize merchandise</h2>
                    <p>This will cancel the orders of all dancers that are currently not selected.</p>
                    <p>No new orders will be accepted, and all currently active orders will remain.</p>
                    <form class="form" method="POST" enctype="multipart/form-data" novalidate>
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.submit) }}
                    </form>
                </div>
            </div>
        {% endif %}
        <h2 class="no-print">Merchandise {% if g.ts.merchandise_finalized %}(finalized){% endif %}</h2>
        <div class="my-2 no-print">
            <button class="btn btn-primary" type="button" onclick="printOrders()">Print orders</button>
            <button class="btn btn-primary" type="button" onclick="printDancers()">Print dancers list</button>
        </div>
        <div id="merchandise-orders" class="d-grid grid-template-columns-md-{{ [all_merchandise|length, 2]|min }} grid-template-columns-xl-{{ [all_merchandise|length, 3]|min }} grid-template-columns-xxl-{{ [all_merchandise|length, 4]|min }} grid-row-gap-3 grid-column-gap-3">
        {% for m in all_merchandise %}
            <div class="card">
                <div class="card-header">
                    {{ m }} orders <span class="badge badge-pill badge-dark">{{ total_merchandise[m] }}</span>
                </div>
                <table class="table table-borderless table-sm mb-0 merchandise-orders-table">
                <tbody>
                    {% for v in all_merchandise[m] %}
                    <tr>
                        <td>{{ v.variant_name() }}</td>
                        <td>{{ all_merchandise[m][v]|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        {% endfor %}
        </div>
        {{ react() }}
        <script src="{{url_for('static', filename='js/react/OrderedMerchandise.js')}}{{ now }}" ></script>
        <div id="root"></div>
        <script>
            ReactDOM.render(React.createElement(OrderedMerchandise, {dancers: {{dancers | tojson}}}), document.getElementById('root'));
        </script>
    {% else %}
        <h2>The raffle has not taken place yet.</h2>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    const printOrders = () => {
        let dancers = document.getElementById("merchandise-dancers");
        dancers.classList.add("no-print");
        window.print();
        dancers.classList.remove("no-print");
    };
    const printDancers = () => {
        let orders = document.getElementById("merchandise-orders");
        orders.classList.add("no-print");
        window.print();
        orders.classList.remove("no-print");
    };
    </script>
{% endblock %}