{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
{% if ts.main_raffle_result_visible is sameas true %}
<h2>Merchandise quantities</h2>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <table class="table table-striped">
            <colgroup>
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2"><b>T-shirts</b></th>
                </tr>
                <tr>
                    <th><b>Size</b></th>
                    <th style="text-align:right"><b>Quantity</b></th>
                </tr>
            </thead>
            <tbody>
                {% for shirt, quantity in shirts.items() %}
                <tr>
                    <td>{{ shirt }}</td>
                    <td align="right">{{ quantity }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="font-weight:bold">Total</td>
                    <td  align="right">{{ total_shirts }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <table class="table table-striped">
            <colgroup>
                <col span="1" style="width: 70%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2"><b>Stickers</b></th>
                </tr>
                <tr>
                    <th><b>Sticker</b></th>
                    <th style="text-align:right"><b>Quantity</b></th>
                </tr>
            </thead>
            <tbody>
                {% for sticker, quantity in stickers.items() %}
                <tr>
                    <td>{{ sticker }}</td>
                    <td  align="right">{{ quantity }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td style="font-weight:bold">Total</td>
                    <td  align="right">{{ total_stickers }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h2>Dancers that have ordered merchandise</h2>
<form method="POST" enctype="multipart/form-data" novalidate>
    <input class="btn btn-info" id="submit-download_file" name="download_file" type="submit" value="Download list of dancers">
</form>
<div style="height:10px"></div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <b class="panel-title">Dancers that have ordered a t-shirt or at least one sticker <span class="badge">{% if dancers|length > 0 %}{{ dancers|length }}{% else %}0{% endif %}</span></b>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            {% if dancers|length > 0 %}
            <table class="table list-group">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 30%;">
                </colgroup>
                <thead>
                <tr>
                    <th><b>Dancer</b></th>
                    <th><b>Email</b></th>
                    <th><b>Team</b></th>
                </tr>
                </thead>
                <tbody>
                {% for dancer in dancers %}
                <tr>
                    <td>{{ dancer.get_full_name() }}</td>
                    <td>{{ dancer.email }}</td>
                    <td>{{ dancer.contestant_info[0].team.city }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<h2>The raffle has not taken place yet.</h2>
{% endif %}
{% endblock %}