{% extends "base.html" %}

{% block app_content %}
<h2>Open name change requests</h2>
{% if nml_open %}
<table class="table table-sm">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>Team</b></td>
        <td><b>Name</b></td>
        <td><b>Requested change</b></td>
        <td><b>Respond</b></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for req in nml_open %}
        <td>{{req.contestant.contestant_info.team.name}}</td>
        <td>{{req.contestant.get_full_name()}}</td>
        <td>{{req.get_full_name()}}</td>
        <td>
            <a style="width:36px;height:32px" class="btn btn-primary btn-sm"  href="{{url_for('organizer.name_change_respond',req=req.id)}}">
                <img src="{{url_for('static', filename='octicons/pencil.svg')}}">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no open name change requests.
{% endif %}

<h2>Completed change requests</h2>
{% if nml_closed %}
<table class="table table-sm">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>Team</b></td>
        <td><b>Name</b></td>
        <td><b>Requested change</b></td>
        <td><b>Status</b></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for req in nml_closed %}
        <td>{{req.contestant.contestant_info.team.name}}</td>
        <td>{{req.contestant.get_full_name()}}</td>
        <td>{{req.get_full_name()}}</td>
        <td>{{req.state_name()}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no completed name change requests.
{% endif %}

{% endblock %}