{% extends "base.html" %}

{% block app_content %}
<h2>Name change request</h2>
<p>The teamcaptain of {{req.contestant.contestant_info[0].team}} want to make the following changes:</p>
<p>{{req.contestant.get_full_name()}} <span aria-hidden="true"><img src="{{url_for('static', filename='octicons/arrow-right.svg')}}"></span> {{req.get_full_name()}}</p>

<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.remark) }}
    <div class="input-group">
        <input type="submit" id="accept" name="accept" value="Accept" class="btn btn-success"/>
        <input type="submit" id="reject" name="reject" value="Reject" class="btn btn-danger ml-2"/>
        <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('organizer.name_change_list') }}">Cancel</a>
    </div>
</form>

{% endblock %}