{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<h2>Open name change requests</h2>
{% if nml_open %}
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>Team</b></td>
        <td><b>Name</b></td>
        <td><b>Requested change</b></td>
        <td><b>Respond</b></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for req in nml_open %}
        <td>{{req.contestant.contestant_info[0].team.name}}</td>
        <td>{{req.contestant.get_full_name()}}</td>
        <td>{{req.get_full_name()}}</td>
        <td>
            <a class="btn btn-primary" href="{{url_for('organizer.name_change_respond',req=req.id)}}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no open name change requests.
{% endif %}

<h2>Completed change requests</h2>
{% if nml_closed %}
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>Team</b></td>
        <td><b>Name</b></td>
        <td><b>Requested change</b></td>
        <td><b>Status</b></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for req in nml_closed %}
        <td>{{req.contestant.contestant_info[0].team.name}}</td>
        <td>{{req.contestant.get_full_name()}}</td>
        <td>{{req.get_full_name()}}</td>
        <td>{{req.state_name()}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no completed name change requests.
{% endif %}

{% endblock %}