{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block body_attribs %}
{% endblock %}

{% block app_content %}
<ul class="nav nav-tabs" id=myTabs role=tablist>
	<li role=presentation class=active>
		<a href=#system id=system-tab role=tab data-toggle=tab aria-controls=system aria-expanded=true>System</a>
	</li>
    <li role=presentation {% if state.main_raffle_taken_place is sameas false %}class="disabled"{% endif %}>
        <a {% if state.main_raffle_taken_place is sameas true %} href=#overview class=dropdown-toggle id=overview-tab data-toggle=tab aria-controls=overview-contents {% endif %}>Overview Dancers</a>
    </li>
    <li role=presentation>
        <a href=#config class=dropdown-toggle id=config-tab data-toggle=tab aria-controls=config-contents>Config</a>
    </li>
</ul>
<div class=tab-content id=myTabContent>
	<div class="tab-pane fade in active" role=tabpanel id=system aria-labelledby=system-tab>
        {% if state.main_raffle_taken_place is sameas false %}
            <h2>Raffle</h2>
            <p>Select any dancers you want to be guaranteed entry into the tournament from the lists below.</p>
            <form class="form" method="POST" enctype="multipart/form-data" novalidate>
                <button type="submit" id="submit-start_raffle" name="start_raffle" class="btn btn-success loading-btn">Start Raffle</button>
                {# <button type="submit" id="submit-start_test_raffle" name="start_test_raffle" class="btn btn-danger btn-lg"><strong>DEBUG RAFFLE - FOR TESTING PURPOSES ONLY</strong></button> #}
                {% with subtitle='Registered', counter='available', stats=stats_registered %}
                    {% include 'organizer/_raffle_stats.html' %}
                {% endwith %}
                {% with list_id='guaranteed', type='guaranteed', title='Guaranteed dancers', teams=teams %}
                    {% include 'organizer/_raffle_dancers_lists.html' %}
                {% endwith %}
            </form>
        {% endif %}

        {% if state.main_raffle_taken_place is sameas true %}
            {% if state.main_raffle_result_visible is sameas false %}
                <h2>Raffle confirmation</h2>
                <p>The raffle is only visible for you so far.</p>
                <p> </p>
                <p>Click the button below to confirm the raffle, and make the results visible to the teamcaptains.</p>
                <form class="form" method="POST" enctype="multipart/form-data" novalidate>
                    <button type="submit" id="submit-confirm_raffle" name="confirm_raffle" class="btn btn-success loading-btn">Confirm Raffle</button>
                    <button type="submit" id="submit-cancel_raffle" name="cancel_raffle" class="btn btn-warning loading-btn">Cancel Raffle</button>
                </form>
                {% with subtitle='Selected', counter='selected', stats=stats_selected %}
                    {% include 'organizer/_raffle_stats.html' %}
                {% endwith %}
                {% include 'organizer/_raffle_controls.html' %}
            {% else %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        {% with subtitle='Selected', counter='selected', stats=stats_selected %}
                            {% include 'organizer/_raffle_stats.html' %}
                        {% endwith %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        {% with subtitle='Confirmed', counter='confirmed', stats=stats_confirmed %}
                            {% include 'organizer/_raffle_stats.html' %}
                        {% endwith %}
                    </div>
                </div>
                {% include 'organizer/_raffle_controls.html' %}
            {% endif %}
        {% endif %}
	</div>

    {% if state.main_raffle_taken_place is sameas true %}
    <div class="tab-pane fade" role=tabpanel id=overview aria-labelledby=overview-tab>
        {% if state.main_raffle_result_visible is sameas false %}
            {% with list_id='selected', type='selected', title='Selected dancers', teams=teams %}
                {% include 'organizer/_raffle_dancers_lists.html' %}
            {% endwith %}
        {% else %}
            {% with list_id='completed', type='completed_raffle', title='Selected and confirmed dancers', teams=teams %}
                {% include 'organizer/_raffle_dancers_lists.html' %}
            {% endwith %}
        {% endif %}
    </div>
    {% endif %}

    <div class="tab-pane fade" role=tabpanel id=config aria-labelledby=config-tab>
        <h2>Tournament config</h2>
        <form class="form" method="POST" enctype="multipart/form-data" novalidate>
            {% for key in raffle_config %}
            {% if key in data.raffle_config_items %}
                <div class="form-group">
                    <label>{{ data.raffle_labels[key] }}</label>
                    <input type="number" min="0" class="form-control" id="{{ key }}" name="{{ key }}" value="{{ raffle_config[key] }}">
                </div>
            {% endif %}
            {% endfor %}
            <button type="submit" id="submit-raffle_config"  name="raffle_config" class="btn btn-primary">Save changes</button>
        </form>
        {% if state.main_raffle_result_visible is sameas true %}
        <h2>Reset raffle</h2>
        <p><strong>Warning!</strong> Doing this will redo the raffle entirely, without any way of getting this configuration back.</p>
        <form class="form" method="POST" enctype="multipart/form-data" novalidate>
            <button type="submit" id="submit-reset_raffle" name="reset_raffle" class="btn btn-danger loading-btn">RESET Raffle</button>
        </form>
        {% endif %}
    </div>

</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}
