{% extends "base.html" %}

{% macro assistant(url="", account_made=false, title="", text="") %}
<a href="{{url_for(url)}}" class="grid-place-self-stretch text-decoration-none card my-0 text-black">
    <img src="{% if account_made %}{{url_for('static', filename='dashboard_images/edit_contestant.png')}}{% else %}{{url_for('static', filename='dashboard_images/edit_contestant.png')}}{% endif %}" class="card-img mx-auto mt-3" style="max-width: 112px; max-height: 112px;" alt="Switch image">
    <div class="card-body pb-3 text-center">
        <h5 class="card-title">{{ title }}</h5>
        {% if text != "" %}<p class="card-text">{{ text }}</p>{% endif %}
    </div>
</a>
{% endmacro %}


{% block app_content %}
    <h2>Manage assistant accounts</h2>
    <p>There are a few accounts for special tasks. You can change the password for each of these accounts by clicking on the account tab.</p>
    <div class="mb-4 d-grid grid-column-gap-2 grid-row-gap-2 grid-template-columns-2 grid-template-columns-sm-2 grid-template-columns-md-3 grid-template-columns-lg-4 grid-template-columns-xl-5 grid-template-columns-xxl-5">
    {{ assistant(
        url='organizer.check_in_assistant_account',
        account_made=(chi is not none),
        title='Check In Assistant',
        text='Account to check in dancers at the check in desk.'
        ) }}
    {{ assistant(
        url='organizer.blind_date_assistant_account',
        account_made=(bda is not none),
        title='Blind Date Assistant',
        text='Account to manage (blind date) couples in the DANCE system.'
        ) }}
    {{ assistant(
        url='organizer.adjudicator_assistant_account',
        account_made=(ada is not none),
        title='Adjudicator Assistant',
        text='Account to help with the assignment of adjudicators.'
        ) }}
    {{ assistant(
        url='organizer.tournament_office_manager_account',
        account_made=(tom is not none),
        title='Tournament Office'
        ) }}
    {{ assistant(
        url='organizer.floor_manager_account',
        account_made=(fm is not none),
        title='Floor Manager'
        ) }}
    </div>
    <h2>Activate team captain accounts</h2>
    <div class="mb-4">
        {% if not g.ts.website_accessible_to_teamcaptains %}
            <p>Click the button below to activate the team captains accounts for the xTDS WebPortal.
                Activating the accounts will also automatically send out an e-mail (with login credentials) to the team captains, alerting them that the website is accessible to them.</p>
            <p></p>
            <p>This wil <b>NOT</b> open the registration yet.</p>
            <p>Before activating the accounts, please make sure that the e-mails of the team captain accounts are correct.</p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#activateTeamCaptains"><b>Activate team captain accounts</b></button>
            <div class="modal fade" id="activateTeamCaptains" tabindex="-1" role="dialog" aria-labelledby="activateTeamCaptains" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Activate team captain accounts</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to activate the team captain accounts?</p>
                        </div>
                        <div class="modal-footer">
                            <form class="form" method="POST" enctype="multipart/form-data" novalidate>
                                <button class="btn btn-primary" type="submit" name="activate_teamcaptains">Yes, activate team captain accounts</button>
                            </form>
                            <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">No, do not activate team captain accounts</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Team captains have access to the xTDS WebPortal.</p>
        {% endif %}
    </div>
    {{ react() }}
    <script src="{{url_for('static', filename='js/react/ActivateTeamcaptains.js')}}{{ aver }}" ></script>
    <div id="root"></div>
    <script>
        ReactDOM.render(React.createElement(ActivateTeamcaptains, {users: {{users | tojson}}, settings: {{g.ts.json_settings() | tojson}}}), document.getElementById('root'));
    </script>
{% endblock %}