<div class="card mb-0">
    <div class="card-header">
        Personal information
    </div>
    <div class="card-body py-2">
        <div class="dancer-information-card">
            <div>
                <div>Full name</div>
                <div>{{ dancer.get_full_name() }}</div>
            </div>
            {% if current_user.is_organizer() %}
            <div>
                <div>Team</div>
                <div>{{ dancer.contestant_info.team.display_name() }}</div>
            </div>
            {% endif %}
            <div>
                <div>Email address</div>
                <div>{{ dancer.email }}</div>
            </div>
            <div>
                <div>Registration status</div>
                <div>{{ g.data.STATUS[dancer.status_info.status] }}</div>
            </div>
            <div>
                <div>Student</div>
                <div>{{ g.data.STUDENT_TEXT[dancer.contestant_info.student] }}</div>
            </div>
            {% if g.sc.first_time_ask %}
            <div>
                <div> First {{ g.sc.tournament }}</div>
                <div>{{ g.data.TF[dancer.contestant_info.first_time] }}</div>
            </div>
            {% endif %}
            <div>
                <div>Sleeping spot</div>
                <div>{{ g.data.TF[dancer.additional_info.sleeping_arrangements] }}</div>
            </div>
            {% if g.sc.ask_diet_allergies %}
            <div>
                <div>Diet/Allergies</div>
                <div>{% if dancer.contestant_info.diet_allergies|length > 0 %}{{ dancer.contestant_info.diet_allergies }}{% else %}-{% endif %}</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="card mb-0">
    <div class="card-header">
        {% if g.sc.ask_volunteer or g.sc.ask_first_aid or g.sc.ask_emergency_response_officer %}Volunteering{% else %}Adjudication{% endif %} information
    </div>
    <div class="card-body py-2">
        <div class="dancer-information-card">
            {% if g.sc.ask_volunteer %}
            <div>
                <div>Volunteer (in general)</div>
                <div>{{ dancer.volunteer_info.volunteer }}</div>
            </div>
            {% endif %}
            {% if g.sc.ask_first_aid %}
            <div>
                <div>Volunteer as First Aid officer</div>
                <div>{{ dancer.volunteer_info.first_aid }}</div>
            </div>
            {% endif %}
            {% if g.sc.ask_emergency_response_officer %}
            <div>
                <div>Volunteer as Emergency Response Officer</div>
                <div>{{ dancer.volunteer_info.emergency_response_officer }}</div>
            </div>
            {% endif %}
            <div>
                <div>Standard Adjudicator</div>
                <div>{{ dancer.volunteer_info.jury_ballroom }}</div>
            </div>
            {% if dancer.volunteer_info.jury_ballroom != g.data.NO %}
                {% if g.sc.ask_adjudicator_highest_achieved_level %}
                    <div class="sub-item">
                        <div>Highest achieved level</div>
                        <div>{{ dancer.volunteer_info.level_ballroom }}</div>
                    </div>
                {% endif %}
                {% if g.sc.ask_adjudicator_certification %}
                    <div class="sub-item">
                        <div>Certification</div>
                        <div>{{ dancer.volunteer_info.license_jury_ballroom }}</div>
                    </div>
                {% endif %}
            {% endif %}
            <div>
                <div>Latin Adjudicator</div>
                <div>{{ dancer.volunteer_info.jury_latin }}</div>
            </div>
            {% if dancer.volunteer_info.jury_latin != g.data.NO %}
                {% if g.sc.ask_adjudicator_highest_achieved_level %}
                    <div class="sub-item">
                        <div>Highest achieved level</div>
                        <div>{{ dancer.volunteer_info.level_latin }}</div>
                    </div>
                {% endif %}
                {% if g.sc.ask_adjudicator_certification %}
                    <div class="sub-item">
                        <div>Certification</div>
                        <div>{{ dancer.volunteer_info.license_jury_latin }}</div>
                    </div>
                {% endif %}
            {% endif %}
            {% if g.sc.salsa_competition %}
                <div>
                    <div>Salsa Adjudicator</div>
                    <div>{{ dancer.volunteer_info.jury_salsa }}</div>
                </div>
            {% endif %}
            {% if g.sc.polka_competition %}
                <div>
                    <div>Polka Adjudicator</div>
                    <div>{{ dancer.volunteer_info.jury_polka }}</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% for lvl in g.data.ALL_COMPETITIONS %}
<div class="card mb-0">
    <div class="card-header">
        {{ lvl }} dancing information
    </div>
    <div class="card-body py-2">
        <div class="dancer-information-card">
            {% if dancer.dancing_information(lvl).level != g.data.NO %}
            <div>
                <div>Level</div>
                <div>{{ dancer.dancing_information(lvl).level }}</div>
            </div>
            <div>
                <div>Role</div>
                <div>{{ dancer.dancing_information(lvl).role }}</div>
            </div>
            <div>
                <div>Must blind date</div>
                <div>{{ g.data.TF[dancer.dancing_information(lvl).blind_date] }}</div>
            </div>
            <div>
                <div>Partner</div>
                <div>{{ dancer.dancing_information(lvl).get_partner() }}</div>
            </div>
            {% else %}
            <div>
                <div>Level</div>
                <div>{{ dancer.dancing_information(lvl).level }}</div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}