{% extends "base.html" %}

{% block app_content %}
    <h2>Signup information</h2>
    <p>The information below is what your teamcaptain has submitted. If you find something wrong with the information, you can notify your teamcaptain through the form at the bottom of the page.</p>
    {% if dancer.status_info.status == g.data.NO_GDPR %}
    <p>You can give feedback to your teamcaptain only after accepting the terms and conditions.</p>
    <hr>
    <form class="form mx-2" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-check mb-3">
            <input class="form-check-input" id="privacy_checkbox" name="privacy_checkbox" type="checkbox" value="y" onclick="{% if dancer.status_info.status == g.data.NO_GDPR %}privacyPolicy(this);{% endif %}">
            <label class="form-check-label" for="privacy_checkbox">I have read the <a href="#" data-toggle="modal" data-target="#privacy-modal">privacy notice</a> and give consent for the processing of my personal data, as well as the <a href="{{g.sc.terms_and_conditions_link}}" target="_blank">terms</a> stated on the tournament site</label>
        </div>
        <script>
        function privacyPolicy(checkbox) {
            let div_submit = document.getElementById('privacy_submit');
            if (checkbox.checked) {div_submit.removeAttribute('disabled');
            } else {div_submit.setAttribute('disabled', true);}
        }
        </script>
        <div class="form-group">
            <div class="input-group">
                <input class="btn btn-primary mr-2 my-1" id="privacy_submit" name="privacy_submit" type="submit" disabled value="Accept terms and conditions">
                <a role="button" class="btn btn-outline-secondary my-1" href="{{ url_for('main.index') }}">Cancel</a>
            </div>
        </div>
    </form>
    <hr>
    {% include 'privacy/modal.html' %}
    {% endif %}
    <div class="d-grid grid-template-columns-1 grid-template-columns-lg-2 grid-column-gap-3 grid-row-gap-3">
        <div class="card mb-0">
            <div class="card-header">
                Personal information
            </div>
            <div class="card-body py-2">
                <div class="dancer-information-card">
                    <div>
                        <div>Full name</div>
                        <div>{{ current_user.dancer.get_full_name() }}</div>
                    </div>
                    <div>
                        <div>Email address</div>
                        <div>{{ current_user.dancer.email }}</div>
                    </div>
                    <div>
                        <div>Registration status</div>
                        <div>{{ g.data.STATUS[dancer.status_info.status] }}</div>
                    </div>
                    <div>
                        <div>Student</div>
                        <div>{{ g.data.STUDENT_TEXT[current_user.dancer.contestant_info.student] }}</div>
                    </div>
                    {% if g.sc.first_time_ask %}
                    <div>
                        <div> First {{ g.sc.tournament }}</div>
                        <div>{{ g.data.TF[current_user.dancer.contestant_info.first_time] }}</div>
                    </div>
                    {% endif %}
                    <div>
                        <div>Sleeping spot</div>
                        <div>{{ g.data.TF[current_user.dancer.additional_info.sleeping_arrangements] }}</div>
                    </div>
                    {% if g.sc.ask_diet_allergies %}
                    <div>
                        <div>Diet/Allergies</div>
                        <div>{% if current_user.dancer.contestant_info.diet_allergies|length > 0 %}{{ current_user.dancer.contestant_info.diet_allergies }}{% else %}-{% endif %}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card mb-0">
            <div class="card-header">
                {% if g.sc.ask_volunteer or g.sc.ask_first_aid or g.sc.ask_emergency_response_officer %}Volunteering{% else %}Adjudication{% endif %} information
            </div>
            <div class="card-body py-2">
                <div class="dancer-information-card">
                    {% if g.sc.ask_volunteer %}
                    <div>
                        <div>Volunteer (in general)</div>
                        <div>{{ current_user.dancer.volunteer_info.volunteer }}</div>
                    </div>
                    {% endif %}
                    {% if g.sc.ask_first_aid %}
                    <div>
                        <div>Volunteer as First Aid officer</div>
                        <div>{{ current_user.dancer.volunteer_info.first_aid }}</div>
                    </div>
                    {% endif %}
                    {% if g.sc.ask_emergency_response_officer %}
                    <div>
                        <div>Volunteer as Emergency Response Officer</div>
                        <div>{{ current_user.dancer.volunteer_info.emergency_response_officer }}</div>
                    </div>
                    {% endif %}
                    <div>
                        <div>Standard Adjudicator</div>
                        <div>{{ current_user.dancer.volunteer_info.jury_ballroom }}</div>
                    </div>
                    {% if current_user.dancer.volunteer_info.jury_ballroom != g.data.NO %}
                        {% if g.sc.ask_adjudicator_highest_achieved_level %}
                            <div class="sub-item">
                                <div>Highest achieved level</div>
                                <div>{{ current_user.dancer.volunteer_info.level_ballroom }}</div>
                            </div>
                        {% endif %}
                        {% if g.sc.ask_adjudicator_certification %}
                            <div class="sub-item">
                                <div>Certification</div>
                                <div>{{ current_user.dancer.volunteer_info.license_jury_ballroom }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div>
                        <div>Latin Adjudicator</div>
                        <div>{{ current_user.dancer.volunteer_info.jury_latin }}</div>
                    </div>
                    {% if current_user.dancer.volunteer_info.jury_latin != g.data.NO %}
                        {% if g.sc.ask_adjudicator_highest_achieved_level %}
                            <div class="sub-item">
                                <div>Highest achieved level</div>
                                <div>{{ current_user.dancer.volunteer_info.level_latin }}</div>
                            </div>
                        {% endif %}
                        {% if g.sc.ask_adjudicator_certification %}
                            <div class="sub-item">
                                <div>Certification</div>
                                <div>{{ current_user.dancer.volunteer_info.license_jury_latin }}</div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if g.sc.salsa_competition %}
                        <div>
                            <div>Salsa Adjudicator</div>
                            <div>{{ current_user.dancer.volunteer_info.jury_salsa }}</div>
                        </div>
                    {% endif %}
                    {% if g.sc.polka_competition %}
                        <div>
                            <div>Polka Adjudicator</div>
                            <div>{{ current_user.dancer.volunteer_info.jury_polka }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% for lvl in g.data.ALL_COMPETITIONS %}
        <div class="card mb-0">
            <div class="card-header">
                {{ lvl }} dancing information
            </div>
            <div class="card-body py-2">
                <div class="dancer-information-card">
                    {% if current_user.dancer.dancing_information(lvl).level != g.data.NO %}
                    <div>
                        <div>Level</div>
                        <div>{{ current_user.dancer.dancing_information(lvl).level }}</div>
                    </div>
                    <div>
                        <div>Role</div>
                        <div>{{ current_user.dancer.dancing_information(lvl).role }}</div>
                    </div>
                    <div>
                        <div>Must blind date</div>
                        <div>{{ g.data.TF[current_user.dancer.dancing_information(lvl).blind_date] }}</div>
                    </div>
                    <div>
                        <div>Partner</div>
                        <div>{{ current_user.dancer.dancing_information(lvl).get_partner() }}</div>
                    </div>
                    {% else %}
                    <div>
                        <div>Level</div>
                        <div>{{ current_user.dancer.dancing_information(lvl).level }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if dancer.status_info.status != g.data.NO_GDPR and dancer.status_info.status != g.data.CANCELLED %}
        <hr>
        <form class="form mt-4" method="POST" enctype="multipart/form-data" novalidate>
            {{ feedback_form.hidden_tag() }}
            {{ wtf.form_field(feedback_form.feedback) }}
            <div class="form-group">
                <div class="input-group">
                    <input class="btn btn-primary mr-2 my-1" id="submit_dancer_feedback" name="submit_dancer_feedback" type="submit" value="Send feedback to teamcaptain">&nbsp;
                    <a role="button" class="btn btn-outline-secondary my-1" href="{{ url_for('main.index') }}">Cancel</a>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
