{% extends "base.html" %}

{% block app_content %}
    <h2>Signup information</h2>
    <p>The information below is what your teamcaptain has submitted. If you find something wrong with the information, you can notify your teamcaptain through the form at the bottom of the page.</p>
    {% if dancer.status_info.status == g.data.NO_GDPR %}
    <p>You can give feedback to your teamcaptain only after accepting the terms and conditions.</p>
    <hr>
    <form class="form mx-2" method="POST" enctype="multipart/form-data" novalidate>
        <div class="form-check mb-3">
            <input class="form-check-input" id="privacy_checkbox" name="privacy_checkbox" type="checkbox" value="y" onclick="{% if dancer.status_info.status == g.data.NO_GDPR %}privacyPolicy(this);{% endif %}">
            <label class="form-check-label" for="privacy_checkbox">I have read the <a href="#" data-toggle="modal" data-target="#privacy-modal">privacy notice</a> and give consent for the processing of my personal data, as well as the <a href="{{g.sc.terms_and_conditions_link}}" target="_blank">terms</a> stated on the tournament site</label>
        </div>
        <script>
        function privacyPolicy(checkbox) {
            let div_submit = document.getElementById('privacy_submit');
            if (checkbox.checked) {div_submit.removeAttribute('disabled');
            } else {div_submit.setAttribute('disabled', true);}
        }
        </script>
        <div class="form-group">
            <div class="input-group">
                <input class="btn btn-primary mr-2 my-1" id="privacy_submit" name="privacy_submit" type="submit" disabled value="Accept terms and conditions">
                <a role="button" class="btn btn-outline-secondary my-1" href="{{ url_for('main.index') }}">Cancel</a>
            </div>
        </div>
    </form>
    <hr>
    {% include 'privacy/modal.html' %}
    {% endif %}
    <div class="d-grid grid-column-gap-3 grid-row-gap-3 grid-template-columns-1 grid-template-columns-lg-2 grid-template-columns-xl-4 ">
        {% with dancer = dancer %}
            {% include "dancer/_dancer_data_cards.html" %}
        {% endwith %}
    </div>
    {% if dancer.status_info.status != g.data.NO_GDPR and dancer.status_info.status != g.data.CANCELLED %}
        <hr>
        <form class="form mt-4" method="POST" enctype="multipart/form-data" novalidate>
            {{ feedback_form.hidden_tag() }}
            {{ wtf.form_field(feedback_form.feedback) }}
            <div class="form-group">
                <div class="input-group">
                    <input class="btn btn-primary mr-2 my-1" id="submit_dancer_feedback" name="submit_dancer_feedback" type="submit" value="Send feedback to teamcaptain">&nbsp;
                    <a role="button" class="btn btn-outline-secondary my-1" href="{{ url_for('main.index') }}">Cancel</a>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}
