{# set accessible = true #}
<div class="col-sm-6 col-md-4 col-lg-3 {% if accessible is sameas false %}opaque{% endif %}">
    <a {% if accessible is sameas false %}{% else %}href="{{url_for( url )}}"{% endif %} class="{% if accessible is sameas false %}inaccessible{% endif %}" style="text-decoration:none;color:black;">
        <div class="card my-2 thumbnail-same-height {% if accessible is sameas false %}inaccessible{% endif %} {% if loading_screen and accessible is sameas true %}loading-btn{% endif %} {% if wants_attention %}info{%endif%}" >
            {% if count is defined %}
                {% if count%}
                    <div style="margin-bottom:-4em;height:4em">
                        <span style="float:center;width:2em;font-size:xx-large" class="badge badge-pill badge-primary mt-2 ml-2" >{{count}}</span>
                    </div>
                {% endif %}
            {% endif %}
            <img src="{{url_for('static', filename='dashboard_images/'+image)}}" class="card-img-top mx-auto" style="max-width: 128px; max-height: 128px; margin-top: 16px;">
            <div class="card-body" style="text-align: center;">
                <h4 class="card-title">{{ title }}</h4>
                {% if text is defined %}
                    <p class="card-text">{{ text }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>