<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <a href="{{url_for( url )}}">
        <div class="thumbnail" >
            {% if count is defined %}
                {% if count%}
            <div style="margin-bottom:-4em;height:4em">
                <span style="float:center;width:5em" class="badge badge-pill badge-danger"><h3>{{count}}</h3></span>
            </div>
                {% endif %}
                {% endif %}
            <img src="{{url_for('static', filename=image)}}" class="img-rounded" width="128">
            <div class="caption text-center">
                <h3>{{ title }}</h3>
                {% if text is defined %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </div>
    </a>
</div>