{% extends 'bootstrap_base.html' %}
{% import 'my_wtf.html' as wtf %}
{% import 'registration_wtf.html' as reg_wtf %}


{% block title %}xTDS WebPortal{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
{{ select2_form_css() }}
<style>
/* Base formatting */
@media (min-width:1440px){.container{max-width:1410px}}
@media (min-width:576px){.form-width-fix .form-control {width:100%}}
@media (min-width:768px){.form-width-fix .form-control {width:140px}}
@media (min-width:992px){.form-width-fix .form-control {width:200px}}
@media (min-width:1200px){.form-width-fix .form-control {width:auto}}
@media (min-width:576px){.form-width-fix .form-control-button {width:100%}}
@media (min-width:768px){.form-width-fix .form-control-button {width:auto}}

/* Cards formatting */
.card-header {padding-top: 0.5rem; padding-bottom: 0.5rem;}
.card-title {margin-bottom: 0.25rem;}
.card {margin-bottom:0.5rem;}
.primary > .card-header {background-color:var(--primary);}
.primary > .card-header > .card-title {color:var(--white);}
.secondary > .card-header {background-color:var(--secondary);}
.secondary > .card-header > .card-title {color:var(--white);}
.success > .card-header {background-color:var(--success);}
.success > .card-header > .card-title {color:var(--white);}
.danger > .card-header {background-color:var(--danger);}
.danger > .card-header > .card-title {color:var(--white);}
.warning > .card-header {background-color:var(--warning);}
.info > .card-header {background-color:var(--info);}
.info > .card-header > .card-title {color:var(--white);}
.light > .card-header {background-color:var(--light);}
.dark > .card-header {background-color:var(--dark);}
.dark > .card-header > .card-title {color:var(--white);}

/* Pages formatting */
.inaccessible {width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.25); cursor: not-allowed; }
.opaque {opacity: .5; }

/* Color site red in maintenance mode */
{% if g.sc.website_accessible is sameas false and current_user.is_authenticated is sameas true %}
.navbar-default{background-color:#ffa6a6 !important;}
body { background-color:#ffdcdc;}
{% endif %}

/* Print tools */
@page               {size: 210mm 297mm; margin: 15mm 15mm 15mm 15mm;}
.pagebreak          {page-break-before: always;}
.print-block        {page-break-after:always;}
.print-friendly     {page-break-inside:avoid; page-break-after:auto}
tr                  {page-break-inside:avoid; page-break-after:auto}
td                  {page-break-inside:avoid; page-break-after:auto}
thead               {display:table-header-group}
tfoot               {display:table-footer-group}
@media print        {.no-print, .no-print * {display:none !important;}}

/* Misc. */
checkbox                        {cursor:pointer}
.decorative-checkbox            {cursor:default !important}
.checkbox-row                   {cursor:pointer}
.thumbnail.info                 {background-color:#d9edf7; }
.container-hidden               {visibility:hidden;}
.notification-text              {white-space:pre-line;}
.clickable, .clickable-row      {cursor:pointer;}
.nav-link.disabled              {cursor:default;}

/* API coloring for team captain "Edit Finances" tab */
.api-pending    {background-color:var(--info) !important;}
.api-success    {background-color:var(--success) !important;}
.api-warning    {background-color:var(--warning) !important;}
.api-failed     {background-color: #ffdcdc !important;}
</style>
{% endblock %}


{% block navbar %}
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light no-print navbar-default">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">xTDS WebPortal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            {% if not current_user.is_anonymous %}
                <ul class="navbar-nav mr-auto">
                    {% if current_user.has_profile_access() is sameas true %}
                    <li class="nav-item mx-0 mx-md-2 my-1 my-md-0"><a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a></li>
                    {% endif %}
                    {% if current_user.has_messages_access() is sameas true %}
                    <li class="nav-item mx-0 mx-md-2 my-1 my-md-0"><a class="nav-link {% if current_user.unread_notifications() > 0 %}btn btn-outline-primary{% endif %}" href="{{ url_for('notifications.messages') }}">Messages <span class="badge badge-pill badge-primary">{{current_user.unread_notifications()}}</span></a></li>
                    {% endif %}
                </ul>
            {% endif %}
            {% if current_user.is_anonymous %}
                {% if login_form %}
                    <form class="form-inline ml-auto form-width-fix" method="POST" enctype="multipart/form-data">
                        {{ login_form.hidden_tag() }}
                        {{ login_form.username(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Username') }}
                        {{ login_form.password(class_='form-control mx-0 mx-md-1 my-1 my-md-0', placeholder='Password') }}
                        {{ login_form.submit(class_='btn btn-outline-primary form-control mx-0 mx-md-1 my-1 my-md-0') }}
                        <small><a class="nav-link px-0 px-md-3" href="{{url_for('auth.reset_password_request')}}">Forgot password?</a></small>
                    </form>
                {% endif %}
            {% else %}
                <form class="form-inline ">
                    {% if current_user.is_dancer() %}
                        <span class="navbar-text mx-0 mx-md-2 my-1 my-md-0">Welcome, {{ current_user.dancer.get_full_name() }}</span>
                    {% else %}
                        <span class="navbar-text mx-0 mx-md-2 my-1 my-md-0">Welcome, {{ current_user.username }}</span>
                    {% endif %}
                    <a href="{{ url_for('main.logout') }}" class="form-control btn btn-outline-primary mx-0 mx-md-2 my-1 my-md-0">Logout</a>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<div id="container-hidden" class="container mt-3" style="padding-bottom:20px; {% block container_style %}{% endblock %}">
    {% if g.sc.website_accessible is sameas false and current_user.is_authenticated is sameas true %}
    <h1 style="color:#000000; text-align:center;">MAINTENANCE MODE</h1>
    {% endif %}
    {{ flash_messages() }}

    {% block app_content %}
    {% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script type="text/javascript" src="{{url_for('static', filename='js/xtds_main.js')}}"></script>-->
<script type="text/javascript" src="{{url_for('static', filename='loading/loading.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/popper.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/moment-with-locales.min.js')}}"></script>
{{ select2_form_js() }}
<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
{% endblock %}


{% macro flash_messages() %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {% if category=='message' %}alert-info{% else %}{{ category }}{% endif %} alert-dismissible mt-2" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endmacro %}


{% macro react() %}
{% if config.get('ENV') == g.data.DEBUG_ENV %}
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{% else %}
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
{% endif %}
<script src="{{url_for('static', filename='src/BuildTools.js')}}"></script>
<script src="{{url_for('static', filename='src/Components.js')}}"></script>
{% endmacro %}


{% macro select2_form_css() %}
<link rel="stylesheet" href="{{url_for('static', filename='select2/select2.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='select2/select2-bootstrap3.css')}}">
<style>.select2-results .select2-highlighted{color:#fff;background-color:#1e90ff}</style>
{% endmacro %}

{% macro select2_form_js() %}
<script type="text/javascript" src="{{url_for('static', filename='select2/select2.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='select2/form.js')}}"></script>
{% endmacro %}


{% macro icon(type) -%}
<img style="width:20px;height:20px" src="{{url_for('static', filename='octicons/'+type+'.svg')}}">
{%- endmacro %}
{% macro t_shirt_icon() -%}
&#x1F455;
{%- endmacro %}
{% macro mug_icon() -%}
&#x2615;
{%- endmacro %}
{% macro bag_icon() -%}
&#x1f45c;
{%- endmacro %}