{% extends 'bootstrap/base.html' %}
{# import 'bootstrap/wtf.html' as wtf #}
{% import 'my_wtf.html' as wtf %}

{% block head %}
{{ super() }}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
<link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
{% endblock %}


{% block title %}
xTDS WebPortal
{% endblock %}


{% block styles %}
{{ super() }}
<style>
    body { padding-top: 60px;}
    .navbar-default{background-color:#f8f8f8;}
    @media (min-width:1440px){.container{width:1410px}}
    .pagebreak { page-break-before: always; }
    .print-friendly { page-break-inside:avoid; page-break-after:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    td    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    @media print {.no-print, .no-print * {display: none !important; } }
</style>
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top no-print">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">xTDS WebPortal</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
            {% if not current_user.is_anonymous %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('notifications.messages') }}">Messages <span class="badge">{{current_user.unread_notifications()}}</span></a></li>
                </ul>
            {% endif %}
            {% if current_user.is_anonymous %}
                {% if login_form %}
                    <form class="navbar-form navbar-right" method="POST" enctype="multipart/form-data">
                        {{ login_form.hidden_tag() }}
                        {{ login_form.csrf_token }}
                        <div class="form-group">
                            {{ login_form.username(class_='form-control', placeholder='Username') }}
                        </div>
                        <div class="form-group">
                            {{ login_form.password(class_='form-control', placeholder='Password') }}
                        </div>
                        <div class="form-group">
                            {{ login_form.submit(class_='btn btn-default') }}
                        </div>
                        <div class="form-group">
                            <small><a href="{{url_for('auth.reset_password_request')}}" >Forgot password?</a></small>
                        </div>
                    </form>
                {% endif %}
            {% else %}
                <div class="nav navbar-nav navbar-right" style="padding-right: 15px; padding-left: 15px">
                    <p class="navbar-text">Welcome, {{ current_user.username }}!</p>
                    <a href="{{ url_for('main.logout') }}" class="btn btn-default navbar-btn">Logout</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
<div class="container" style="padding-bottom:20px">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {% if category=='message' %}alert-info{% else %}{{ category }}{% endif %} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    {% block app_content %}
    {% endblock %}

</div>
<!--<nav class="navbar-defaul navbar-fixed-bottom" style="padding-top:60px;">-->
    <!--<div class="container">-->
        <!--<p class="navbar-text">Place sticky footer content here.</p>-->
    <!--</div>-->
<!--</nav>-->
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="/static/loading.js"></script>
<script>
$(document).ready(function() {
    $('.table-clickable-checkbox tr').click(function(event) {
        if (event.target.type !== 'checkbox') {
            $(':checkbox', this).trigger('click');
        }
    });
});
$(document).ready(function($) {
    $(".checkbox-row").css("cursor", "pointer")
    $(".checkbox").css("cursor", "pointer")
});
$(document).ready(function($) {
    $(".checkbox").change(function() {
        $(this).parents("tr:first").toggleClass('success ');
    });
});
</script>
{% endblock %}
