{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block styles %}
{{ super() }}
<style>
.inaccessible {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: -100;
    cursor: not-allowed;
}
.opaque {
    opacity: .5;
}
</style>
{% endblock %}

{% block app_content %}
<div class="row" style="visibility:hidden">

    {% if current_user.is_admin() %}
        {% with url='admin.index', title='Admin Page', text='Gives direct access to the database.', image='admin.png' %}
            {% include '_dashboard_page.html' %}
        {% endwith %}
    {% endif %}

    {% if current_user.is_organizer() %}
        {% with loading_screen=true, url='organizer.registration_overview', title='Registrered dancers', text='List of all registered dancers', image='contestants.png' %}
            {% include '_dashboard_page.html' %}
        {% endwith %}
        {% with count=current_user.open_name_change_requests(), url='organizer.name_change_list', title='Name change requests', text='Requests for name changes of dancers', image='name_change.png' %}
            {% include '_dashboard_page.html' %}
        {% endwith %}
        {% with loading_screen=true, url='organizer.raffle_system', title='Raffle system', text='Raffle system.', image='raffle.png' %}
            {% include '_dashboard_page.html' %}
        {% endwith %}
        {% with url='organizer.finances_overview', title='Finances', text='Overview of payment data of the dancers that have been selected for the tournament.', image='euro.png' %}
            {% include '_dashboard_page.html' %}
        {% endwith %}
    {% endif %}

    {% if current_user.is_tc() or current_user.is_treasurer() %}
        {% if current_user.is_tc() %}
            {% if max_tc > 1 %}
                {% set tc_title = 'Set Teamcaptains' %}
                {% set tc_text = 'Set who the team captains are.' %}
            {% else %}
                {% set tc_title = 'Set Teamcaptain' %}
                {% set tc_text = 'Set who the team captains is.' %}
            {% endif %}
            {% with url='teamcaptains.register_dancers', title='Register Dancers', text='Register dancers for the tournament.', image='register_contestant.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
            {% with accessible=dancers_registered, url='teamcaptains.edit_dancers', title='Edit Dancers', text='View and edit information of registered dancers.', image='edit_contestant.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
            {% with accessible=dancers_registered, url='teamcaptains.couples_list', title='Couples', text='View all registered couples, and create new couples.', image='view_couples.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
            {% with accessible=dancers_registered, count=current_user.open_partner_requests(), url='teamcaptains.partner_request_list', title='Dancing Partner Request', text='Create couples with dancers from another team', image='partner_request.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
            {% with accessible=dancers_registered, count=num_teamcaptains, url='teamcaptains.set_teamcaptains', title=tc_title, text=tc_text, image='captain.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
            {% with accessible=state.main_raffle_result_visible, url='teamcaptains.raffle_result', title='Raffle results', text='Manage dancers that have been selected or confirmed for the tournament.', image='raffle_results.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
        {% endif %}
        {% if current_user.is_tc() or current_user.is_treasurer() %}
            {% with accessible=state.main_raffle_result_visible, url='teamcaptains.edit_finances', title='Finances', text='Manage payment information dancers that have been confirmed for the tournament.', image='euro.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
        {% endif %}
        {% if current_user.is_tc() %}
            {% with accessible=false, url='main.todo', title='Bus to Brno', text='Coming soon...', image='bus.png' %}
                {% include '_dashboard_page.html' %}
            {% endwith %}
        {% endif %}
    {% endif %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function onStart() {
    var maxHeight = 0;
    $(".thumbnail-same-height").each(function(){
       if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
    });
    $(".thumbnail-same-height").height(maxHeight);
    $(".row").css('visibility', 'visible');
}
</script>
{% endblock %}