{% macro _hz_form_wrap(horizontal_columns, form_type, add_group=False, required=False) %}
    {% if add_group %}<div class="form-group row{% if required %} required{% endif %}">{% endif %}
    <div class="col-{{horizontal_columns[0]}}-offset-{{horizontal_columns[1]}} col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}">
    {{caller()}}
    {% if add_group %}</div>{% endif %}
    </div>
{% endmacro %}

{% macro form_field(field, form_type="horizontal", horizontal_columns=('lg', 2, 10), button_map={}) %}

{# workaround from flask-bootstrap #}
{% if field.flags.required and not required in kwargs %}
{% set kwargs = dict(required=True, **kwargs) %}
{% endif %}

{% if field.widget.input_type == 'checkbox' %}
    {% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %}
        <div class="checkbox"><label>{{field()|safe}} {{field.label.text|safe}}</label></div>
    {% endcall %}
{%- elif field.type == 'SubmitField' -%}
    {# deal with jinja scoping issues? #}
    {% set field_kwargs = kwargs %}
    {# note: same issue as above - should check widget, not field type #}
    {% call _hz_form_wrap(horizontal_columns, form_type, True, required=required) %}
        {{field(class='btn btn-%s' % button_map.get(field.name, 'primary'), **field_kwargs)}}
    {% endcall %}
{% else -%}
    <div class="form-group row{%- if field.flags.required %} required{% endif -%}">
        {{field.label(class="col-form-label " + (" col-%s-%s" % horizontal_columns[0:2]))|safe}}
        <div class="col-{{horizontal_columns[0]}}-{{horizontal_columns[2]}}">
            {% if field.errors %}{% set field_class = "form-control is-invalid" %}{% else %}{% set field_class = "form-control" %}{% endif -%}
            {{field(class=field_class , **kwargs)|safe}}
            {%- if field.errors %}
                {%- for error in field.errors %}
                    <div class="invalid-feedback">{{error}}</div>
                {%- endfor %}
            {%- elif field.description -%}
                {% call _hz_form_wrap(horizontal_columns, form_type, required=required) %}
                    <small class="text-muted">{{field.description|safe}}</small>
                {% endcall %}
            {%- endif %}
        </div>
    </div>
{% endif %}
{% endmacro %}