Dear {{dancer.get_full_name()}},
<br/><br/><br/>
This is a reminder that you have not accepted the privacy terms for the {{year}} {{tournament}} in {{city}} yet.
<br/><br/>
If you have not accepted the terms by the time the raffle takes place, your registration will automatically be cancelled.
<br/><br/><br/>
Click <a href="{{ url_for('main.index', _external=True) }}">here</a> to visit the site, and log in to your personal account and accept the terms.
<br/><br/><br/>
Sincerely,
<br/><br/>
The xTDS WebPortal Admin