{% extends "base.html" %}

{% block app_content %}
<h2>Create couple for Polka</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.lead) }}
    {{ wtf.form_field(form.follow) }}
    {{ wtf.form_field(form.submit) }}
    <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('main.index') }}">Cancel</a>
</form>
<h2>Registered Polka couples {% if polka_couples|length > 0 %}<span class="badge badge-pill badge-dark">{{ polka_couples|length }}</span>{% endif %}</h2>
{% if polka_couples|length > 0 %}
<table id="myTable" class="table table-sm">
    <colgroup>
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 33%;">
        <col span="1" style="width: 34%;">
    </colgroup>
    <thead>
        <tr>
            <th><b>Lead</b></th>
            <th><b>Follow</b></th>
            <th><b><input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..."></b></th>
        </tr>
    </thead>
    <tbody>
    {% for couple in polka_couples %}
        <tr>
            <td>{{ couple[data.LEAD] }}</td>
            <td>{{ couple[data.FOLLOW] }}</td>
            <td align="right">
                <a class="btn btn-warning btn-sm" href="{{ url_for('blind_date_assistant.break_up_polka_couple', couple_id=couple['id']) }}">Break up couple</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>There are no registered Polka couples yet</h3>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        td2 = tr[i].getElementsByTagName("td")[1];
        if (td || td2) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
{% endblock %}
