<div class="print-friendly">
    <h3>{{category}} blind date leads</h3>
    <table class="table table-striped table-responsive">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2"><b style="font-size: large">Lead</b></th>
                <th colspan="3"><b style="font-size: large">Follow</b></th>
            </tr>
            <tr>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th><b>Team</b></th>
            </tr>
        </thead>
        <tbody>
            {% for dancer in leads %}
                <tr class="clickable-row">
                    <td>
                        {{ dancer.contestant_info[0].number }}
                    </td>
                    <td>
                        {{ dancer.get_full_name() }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="print-friendly">
    <h3>{{category}} blind date follows</h3>
    <table class="table table-striped table-responsive">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="3"><b style="font-size: large">Lead</b></th>
                <th colspan=""><b style="font-size: large">Follow</b></th>
            </tr>
            <tr>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th><b>Team</b></th>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
            </tr>
        </thead>
        <tbody>
            {% for dancer in follows %}
                <tr class="clickable-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ dancer.contestant_info[0].number }}
                    </td>
                    <td>
                        {{ dancer.get_full_name() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>