<div class="print-friendly">
    <h3>{{category}} blind date leads</h3>
    <table class="table table-sm">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2"><b style="font-size: large">Lead</b></th>
                <th colspan="3"><b style="font-size: large">Follow</b></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>#</th>
                <th>Name</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {% for dancer in leads %}
                <tr>
                    <td>
                        {{ dancer.contestant.contestant_info.number }}
                    </td>
                    <td>
                        {{ dancer.contestant.get_full_name() }}
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="print-friendly">
    <h3>{{category}} blind date follows</h3>
    <table class="table table-sm">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="3"><b style="font-size: large">Lead</b></th>
                <th colspan="2"><b style="font-size: large">Follow</b></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Team</th>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for dancer in follows %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ dancer.contestant.contestant_info.number }}
                    </td>
                    <td>
                        {{ dancer.contestant.get_full_name() }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>