<div class="print-friendly">
    <h2>{{category}} couples</h2>
    <table class="table table-sm">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 30%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2" style="font-size:large">Lead</th>
                <th colspan="2" style="font-size:large">Follow</th>
                <th colspan="2" style="font-size:large;text-align:right;"></th>
            </tr>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>#</th>
                <th>Name</th>
                <th>Level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for lead, follow in couples.items() %}
                <tr class="{% if show_break_up_button and lead.contestant.status_info.status == g.data.CONFIRMED and follow.contestant.status_info.status == g.data.CONFIRMED %}table-success{% endif %}">
                    <td class="{% if lead.contestant.status_info.status == g.data.NO_GDPR %}table-danger{%endif%} {% if lead.contestant.contestant_info.team.name != current_user.team.name %}table-primary{% endif %} {% if lead.contestant.status_info.status == g.data.SELECTED %}table-warning{% endif %} {% if show_break_up_button and lead.contestant.status_info.status == g.data.CONFIRMED %}table-success{% endif %}">
                        {{ lead.contestant.contestant_info.number }}
                    </td>
                    <td class="{% if lead.contestant.status_info.status == g.data.NO_GDPR %}table-danger{%endif%} {% if lead.contestant.contestant_info.team.name != current_user.team.name %}table-primary{% endif %} {% if lead.contestant.status_info.status == g.data.SELECTED %}table-warning{% endif %} {% if show_break_up_button and lead.contestant.status_info.status == g.data.CONFIRMED %}table-success{% endif %}">
                        {{ lead.contestant.get_full_name() }}{% if lead.contestant.contestant_info.team.name != current_user.team.name %} - {{ lead.contestant.contestant_info.team.name }}{% endif %}
                    </td>
                    <td class="{% if follow.contestant.status_info.status == g.data.NO_GDPR %}table-danger{%endif%} {% if follow.contestant.contestant_info.team.name != current_user.team.name %}table-primary{% endif %} {% if follow.contestant.status_info.status == g.data.SELECTED %}table-warning{% endif %} {% if show_break_up_button and follow.contestant.status_info.status == g.data.CONFIRMED %}table-success{% endif %}">
                        {{ follow.contestant.contestant_info.number }}
                    </td>
                    <td class="{% if follow.contestant.status_info.status == g.data.NO_GDPR %}table-danger{%endif%} {% if follow.contestant.contestant_info.team.name != current_user.team.name %}table-primary{% endif %} {% if follow.contestant.status_info.status == g.data.SELECTED %}table-warning{% endif %} {% if show_break_up_button and follow.contestant.status_info.status == g.data.CONFIRMED %}table-success{% endif %}">
                        {{ follow.contestant.get_full_name() }}{% if follow.contestant.contestant_info.team.name != current_user.team.name %} - {{ follow.contestant.contestant_info.team.name }}{% endif %}
                    </td>
                    <td>
                        {{ lead.level }}
                    </td>
                    <td align="right">
                        {% if show_break_up_button %}
                        {% if lead.contestant.status_info.status != g.data.SELECTED and follow.contestant.status_info.status != g.data.SELECTED and lead.contestant.status_info.status != g.data.CONFIRMED and follow.contestant.status_info.status != g.data.CONFIRMED %}
                        <input type="button" class="btn btn-warning btn-sm" {% if lead.contestant.status_info.status == g.data.SELECTED or lead.contestant.status_info.status == g.data.CONFIRMED %}disabled{% endif %}
                        onclick="location.href='{{ url_for('teamcaptains.break_up_couple', competition=category, lead_id=lead.contestant_id, follow_id=follow.contestant.contestant_id ) }}';" value="Break up couple" />
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>