<div class="print-friendly">
    <h3>{{category}} couples</h3>
    <table class="table">
        <colgroup>
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 35%;">
            <col span="1" style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
                <th colspan="2" style="font-size:large">Lead</th>
                <th colspan="2" style="font-size:large">Follow</th>
                <th></th>
            </tr>
            <tr>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th><b>ID</b></th>
                <th><b>Name</b></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for couple in couples %}
                <tr class="clickable-row">
                    <td class="{% if couple['lead'].contestant_info[0].team.name != current_user.team.name %}active{% endif %}">
                        {{ couple['lead'].contestant_info[0].number }}
                    </td>
                    <td class="{% if couple['lead'].contestant_info[0].team.name != current_user.team.name %}active{% endif %}">
                        {{ couple['lead'].get_full_name() }}{% if couple['lead'].contestant_info[0].team.name != current_user.team.name %} - {{ couple['lead'].contestant_info[0].team.name }}{% endif %}
                    </td>
                    <td class="{% if couple['follow'].contestant_info[0].team.name != current_user.team.name %}active{% endif %}">
                        {{ couple['follow'].contestant_info[0].number }}
                    </td>
                    <td class="{% if couple['follow'].contestant_info[0].team.name != current_user.team.name %}active{% endif %}">
                        {{ couple['follow'].get_full_name() }}{% if couple['follow'].contestant_info[0].team.name != current_user.team.name %} - {{ couple['follow'].contestant_info[0].team.name }}{% endif %}
                    </td>
                    <td>
                         <a class="btn btn-warning" href="{{ url_for('teamcaptains.break_up_couple', competition=category, lead_id=couple['lead'].contestant_id, follow_id=couple['follow'].contestant_id ) }}">Break up couple</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>