{% if mode == 'edit' %}
{% set editable = not (dancer.status_info.status == g.data.SELECTED or dancer.status_info.status == g.data.CONFIRMED) %}
{% else %}
{% set editable = true %}
{% endif %}
<h2>{{title}}</h2>
<form class="form-horizontal" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <h3>Personal information</h3>
    {{ reg_wtf.form_field(form.number) }}
    {% if mode == 'register' %}
        {{ reg_wtf.form_field(form.first_name) }}
        {% if current_user.team.country == g.data.NETHERLANDS %}
            {{ reg_wtf.form_field(form.prefixes) }}
        {% endif %}
        {{ reg_wtf.form_field(form.last_name) }}
    {% elif mode == 'edit' %}
        <div class="form-group row required">
            <label class="col-form-label col-lg-2" for="full_name">Full name</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <a class="input-group-text" href="{{url_for('teamcaptains.name_change_request', contestant=dancer.contestant_id, wide=wide)}}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </div>
                    <input class="form-control" disabled="" id="full_name" name="full_name" required="" type="text" value="{{form.full_name.data}}">
                </div>
            </div>
        </div>
    {% endif %}

    {{ reg_wtf.form_field(form.email, **{'onfocusout': "checkEmail(this)"}) }}
    {{ reg_wtf.form_field(form.student) }}
    {% if g.sc.first_time_ask %}
        {{ reg_wtf.form_field(form.first_time) }}
    {% endif %}
    {{ reg_wtf.form_field(form.sleeping_arrangements) }}
    {% if g.sc.ask_diet_allergies %}
        {{ reg_wtf.form_field(form.diet_allergies) }}
    {% endif %}

    <h3>Ballroom</h3>
    {{ reg_wtf.form_field(form.ballroom_level, disabled=not editable, **{'onchange': "dancingLevel(id, 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date', 'jury_ballroom')", 'onkeyup': "dancingLevel(id, 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date', 'jury_ballroom')"}) }}
    {{ reg_wtf.form_field(form.ballroom_role, disabled=true, **{'onchange': "dancingRole('ballroom_level', 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date')", 'onkeyup': "dancingRole('ballroom_level', 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date')"}) }}
    {% if g.sc.breitensport_obliged_blind_date %}
        {{ reg_wtf.form_field(form.ballroom_blind_date, disabled=true, **{'onchange': "dancingBD('ballroom_level', 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date')", 'onkeyup': "dancingBD('ballroom_level', 'ballroom_role', 'ballroom_partner', 'ballroom_blind_date')"}) }}
    {% endif %}
    {{ reg_wtf.form_field(form.ballroom_partner, disabled=true) }}

    <h3>Latin</h3>
    {{ reg_wtf.form_field(form.latin_level, disabled=not editable, **{'onchange': "dancingLevel(id, 'latin_role', 'latin_partner', 'latin_blind_date', 'jury_latin')", 'onkeyup': "dancingLevel(id, 'latin_role', 'latin_partner', 'latin_blind_date', 'jury_latin')"}) }}
    {{ reg_wtf.form_field(form.latin_role, disabled=true, **{'onchange': "dancingRole('latin_level', 'latin_role', 'latin_partner', 'latin_blind_date')", 'onkeyup': "dancingRole('latin_level', 'latin_role', 'latin_partner', 'latin_blind_date')"}) }}
    {% if g.sc.breitensport_obliged_blind_date %}
        {{ reg_wtf.form_field(form.latin_blind_date, disabled=true, **{'onchange': "dancingBD('latin_level', 'latin_role', 'latin_partner', 'latin_blind_date')", 'onkeyup': "dancingBD('latin_level', 'latin_role', 'latin_partner', 'latin_blind_date')"}) }}
    {% endif %}
    {{ reg_wtf.form_field(form.latin_partner, disabled=true) }}

    {% if g.sc.ask_volunteer or g.sc.ask_first_aid or g.sc.ask_emergency_response_officer %}
        <h3>Volunteering</h3>
        {% if g.sc.ask_volunteer %}
            {{ reg_wtf.form_field(form.volunteer, **{'onchange': "volunteerGreyOut()", 'onkeyup': "volunteerGreyOut()"}) }}
        {% endif %}
        {% if g.sc.ask_first_aid %}
            {{ reg_wtf.form_field(form.first_aid) }}
        {% endif %}
        {% if g.sc.ask_emergency_response_officer %}
            {{ reg_wtf.form_field(form.emergency_response_officer) }}
        {% endif %}
    {% endif %}

    <h3>Adjudication</h3>
    {{ reg_wtf.form_field(form.jury_ballroom, **{'onchange': "adjudicatorGreyOut('jury_ballroom', 'license_jury_ballroom', 'level_jury_ballroom')", 'onkeyup': "adjudicatorGreyOut('jury_ballroom', 'license_jury_ballroom', 'level_jury_ballroom')"}) }}
    {% if g.sc.ask_adjudicator_certification %}
        {{ reg_wtf.form_field(form.license_jury_ballroom) }}
    {% endif %}
    {% if g.sc.ask_adjudicator_highest_achieved_level %}
        {{ reg_wtf.form_field(form.level_jury_ballroom) }}
    {% endif %}

    {{ reg_wtf.form_field(form.jury_latin, **{'onchange': "adjudicatorGreyOut('jury_latin', 'license_jury_latin', 'level_jury_latin')", 'onkeyup': "adjudicatorGreyOut('jury_latin', 'license_jury_latin', 'level_jury_latin')"}) }}
    {% if g.sc.ask_adjudicator_certification %}
        {{ reg_wtf.form_field(form.license_jury_latin) }}
    {% endif %}
    {% if g.sc.ask_adjudicator_highest_achieved_level %}
        {{ reg_wtf.form_field(form.level_jury_latin) }}
    {% endif %}

    {% if g.sc.salsa_competition %}
        {{ reg_wtf.form_field(form.jury_salsa) }}
    {% endif %}
    {% if g.sc.polka_competition %}
        {{ reg_wtf.form_field(form.jury_polka) }}
    {% endif %}

    <div class="form-group row">
        <label class="control-label col-lg-2" ></label>
        <div class="col-lg-10">
            <div class="input-group">
                <input class="btn btn-primary mr-2 my-1" id="submit" name="submit" type="submit" value="{% if mode == 'edit' %}Save changes{% elif mode == 'register' %}Register dancer{% endif %}">&nbsp;
                <a role="button" class="btn btn-outline-secondary my-1" href="{% if mode == 'edit' %}{{ url_for('teamcaptains.edit_dancers', wide=wide) }}{% else %}{{ url_for('main.index') }}{% endif %}">Cancel</a>
            </div>
        </div>
    </div>
</form>
