By signing up for the European Tournament for Dancing Students 2018 in Brno ("ETDS"), either as a participant, team captain, adjudicator or volunteer, you agree to the following:
<br/><br/>
<b>Who are we?</b><br/>
We are the organization of the European Tournament for Dancing Students (ETDS). The ETDS is a Ballroom dancing competition between different teams from Europe. Every ETDS is organized by a different team. The 60th ETDS will be organized by the team from Brno.
<br/><br/><br/>
<b>What personal information do we collect?</b><br/>
We will collect the following personal data from every contestant:
<ul>
    <li>Name</li>
    <li>Email address</li>
</ul>
<br/><br/>
<b>Who has access to your data?</b><br/>
Your data will <strong>not</strong> be shared with any third parties.<br/>
The following people do have access to your personal data:<br/><br/>
<i>The organization of the ETDS</i><br/>
Within the organization, not everyone within our team has access to your personal data. Access to your personal data is only given to a select few that need to use that data for the organization of the tournament.<br/><br/>
<i>Your team captain</i><br/>
All data you share can be accessed by your own team captain, as he/she is the one registering you to the tournament.
<br/><br/><br/>
<b>Where is my data stored?</b><br/>
The data is stored in three main locations:<br/>
<ul>
    <li>Data from the registration system is stored on the servers of hosting provider TransIP BV in the Netherlands. The hosting provider does not have access to your data.</li>
    <li>Data will also be stored in a private Google Drive folder of the organization.</li>
    <li>The volunteering system is hosted on a server in Germany. The hosting provider does not have access to your data.</li>
</ul>
<br/><br/>
<b>Changing my data</b><br/>
You can ask your Team Captain to change incorrect data.
<br/><br/><br/>
<b>How long will my data be stored?</b><br/>
Your data will be stored for at least the duration of the tournament.<br/>
A record of your placement will be published on <a href="http://www.etds.eu" target="_blank">www.etds.eu</a> pages after the tournament.<br/>
Afterwards, your name can be removed upon request.<br/>
A record of your placement in the tournament will be saved for a period of five years. Afterwards, it can be removed upon request.<br/>
After the tournament has taken place, and before the next tournament starts, the rest of your data will either be anonymized and saved for statistical analysis, or it will be destroyed.
<br/><br/><br/>
<b>Can my data be removed?</b><br/>
Organizers can decide to give first time participants an increased chance to get through the raffle, or other benefits during a tournament. If you have attended the tournament, this data will not be removable. All other data will be removed as stated in the section above.
<br/><br/><br/>
<b>Content published online</b><br/>
After the tournament is over, names and placements of the tournament participants will be placed online. Your email address will be kept private.