<b>Who are we?</b><br/>
We ar the organization of the The European Tournament for Dancing Students (ETDS). The ETDS is a Ballroom dancing competition between different teams from Europe. Every ETDS is organized by a different team. The 60th ETDS will be organized by team Brno.
<br/><br/>
<b>What information do we collect?</b><br/>
We will collect the following personal data from every contestant:
<ul>
    <li>Name</li>
    <li>Email address</li>
</ul>
<b>Who has access to your data?</b><br/>
Your data will <strong>not</strong> be shared with any third parties.<br/>
The following people do have access to your personal data:<br/>
<i>The organization of the ETDS</i><br/>
Within the organization, not everyone within our team has access to you personal data. Access to your personal data is only given to a select few that need to use that data for the organization of the tournament.<br/>
<i>Your team captain</i><br/>
All data you share can be accessed by your own team captain, as he/she is the one registering you to the tournament.
<br/><br/>
<b>Where is my data stored?</b><br/>
The data is stored in three main locations:<br/>
<ul>
    <li>Data from the registration system is stored on the servers of hosting provider TransIP BV in the Netherlands. The hosting provider does not have access to your data.</li>
    <li>Data will also be stored in a private Google Drive folder of the organization with either private, or strict access only to a handful of involved people = no "Public" sharing</li>
    <li>The volunteering system is hosted on a server in Germany.</li>
</ul>

<b>Changing my data</b><br/>
You can ask your Team Captain to change incorrect data.
<br/><br/>
<b>How long will my data be stored?</b><br/>
Since we need this data for you to participate in the tournament, it is impossible to remove your data before the tournament has taken place.
After the tournament has taken place, and before the next tournament starts, a record of your attendance to the 60th ETDS (name and email address) will be saved, as well as your placement in the tournament. The rest of your data will either be anonymized and saved for statistical analysis, or it will be destroyed.
