Your personal data will not be shared with third parties.
<br/>
<br/>
The personal data collected will be used for the following purposes:
<ul>
    <li>Organization of the NTDS or ETDS tournament you are currently signing up for.</li>
    <li>Testing data for this porta.</li>
</ul>
<br/>
After the tournament is over, and before the next tournament starts, part of your data will be saved and the rest will be permanently deleted.
<br/><br/>
The following items will be kept in a record to see who attended the tournament, and verify first-time attendance for future tournaments.
<br/>
Organizations of future tournaments will <b>not</b> have direct access to this data, verification will happen automatically in the background.
<ul>
    <li>Name</li>
    <li>Email address</li>
</ul>

The following items will be kept as real-life data to test in improve future versions of this portal.
<br/>
Organizations of future tournaments will be able to access this data, but it will be matched to randomly generated names and email addresses, so that you can not be identified from it.
<ul>
    <li>Ballroom dancing information</li>
    <li>Latin dancing information</li>
</ul>
<br/>
All other data that was collected will be permanently deleted.