{% if dancers|length > 0 %}
<div class="row">
    <h3>{{status}}</h3>
</div>
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th><b>#</b></th>
            <th><b>Dancer</b></th>
            <th><b>Student</b></th>
            <th><b>Ballroom</b></th>
            <th><b>Latin</b></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for dancer in dancers %}
        <tr class="clickable-row">
            <td>
                {{ dancer.contestant_info[0].number }}
            </td>
            <td>
                {{ dancer.get_full_name()}}
            </td>
            <td>
                {{ data.TF[dancer.contestant_info[0].student] }}
            </td>
            <td>
                {% if dancer.dancing_info[0].level != data.NO %}
                {{ data.LEVELS[dancer.dancing_info[0].level] }}
                {% else %} - {% endif %}
            </td>
            <td>
                {% if dancer.dancing_info[1].level != data.NO %}
                {{ data.LEVELS[dancer.dancing_info[1].level] }}
                {% else %} - {% endif %}
            </td>
            <td>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}