<h2>{{status}}</h2>
<table class="table table-striped table-clickable-checkbox table-responsive">
    <colgroup>
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
        <tr>
            <th><b>#</b></th>
            <th><b>Dancer</b></th>
            <th><b>Student</b></th>
            <th><b>Ballroom</b></th>
            <th><b>Latin</b></th>
            <td align="right"><b>Select all </b><INPUT id="select_all" type="checkbox" onchange="selectAll()" name="chk[]" /></td>
        </tr>
    </thead>
    <tbody>
    {% for dancer in dancers %}
        <tr class="checkbox-row ">
            <td>
                {{ dancer.contestant_info[0].number }}
            </td>
            <td>
                {{ dancer.get_full_name()}}
            </td>
            <td>
                {{ data.TF[dancer.contestant_info[0].student] }}
            </td>
            <td>
                {% if dancer.dancing_info[0].level != data.NO %}
                {{ data.LEVELS[dancer.dancing_info[0].level] }}
                {% else %} - {% endif %}
            </td>
            <td>
                {% if dancer.dancing_info[1].level != data.NO %}
                {{ data.LEVELS[dancer.dancing_info[1].level] }}
                {% else %} - {% endif %}
            </td>
            <td align="right">
                <input class="checkbox dancer" type="checkbox" value="y" id="{{ dancer.contestant_id }}" name="{{ dancer.contestant_id }}">
            </td>
        </tr>
    {% endfor %}
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td></td>-->
        <!--<td align="right"><b>Select all </b><INPUT id="select_all" type="checkbox" onchange="selectAll()" name="chk[]" /></td>-->
    <!--</tr>-->
    </tbody>
</table>