<h2>{{status}}</h2>
<table class="table table-striped table-clickable-checkbox table-responsive">
    <colgroup>
        <col span="1" style="width: 5%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 12%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 8%;">
        <col span="1" style="width: 12%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
        <tr>
            <th colspan="2"></th>
            <th colspan="3">Ballroom</th>
            <th colspan="3">Latin</th>
            <th></th>
        </tr>
        <tr>
            <th>#</th>
            <th>Dancer</th>
            <th>Level</th>
            <th>Role</th>
            <th>Partner</th>
            <th>Level</th>
            <th>Role</th>
            <th>Partner</th>
            <th style="text-align:right;" align="right">Select all <input id="select_all" type="checkbox" onchange="checkAll(this)" name="chk[]" /></th>
        </tr>
    </thead>
    <tbody>
    {% for dancer in dancers %}
        <tr class="checkbox-row ">
            <td>
                {{ dancer.contestant_info[0].number }}
            </td>
            <td>
                {{ dancer.get_full_name()}}
            </td>
            <td>
                {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).level] }}
            </td>
            <td>
                {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.BALLROOM).role] }}
            </td>
            <td>
                {{ g.data.has_partner_display(dancer.dancing_information(g.data.BALLROOM).partner) }}
            </td>
            <td>
                {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).level] }}
            </td>
            <td>
                {{  g.data.LEVEL_ROLE_DISPLAY[dancer.dancing_information(g.data.LATIN).role] }}
            </td>
            <td>
                {{ g.data.has_partner_display(dancer.dancing_information(g.data.LATIN).partner) }}
            </td>
            <td align="right">
                <input class="checkbox dancer" type="checkbox" value="y" id="{{ dancer.contestant_id }}" name="{{ dancer.contestant_id }}">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>