{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}

{% if ts.main_raffle_result_visible is sameas true %}
<h2>Bus to Brno</h2>
{% if add_overview is sameas false %}
<p>Team Düsseldorf and Bielefeld are organizing a bus that will travel to Brno for the ETDS.</p>
<p>The bus leaves at 18:30 from Aachen Hbf, and will travel through Düsseldorf, Schwerte, Bad Wünnenberg, and Werther, to Brno (<a href="https://www.google.nl/maps/dir/Aachen+Hbf,+52064+Aachen,+Duitsland/Park%26Ride+S%C3%BCdpark/Schwerte(Ruhr),+Schwerte,+Duitsland/Netto,+B%C3%BCrener+Str.+31,+33181+Bad+W%C3%BCnnenberg,+Duitsland/Halle-Kasseler-Stra%C3%9Fe,+99735+Werther,+Duitsland/KC+BABYLON+-+kulturn%C3%AD+centrum+Brno/@50.3637619,9.1033284,7z/data=!3m1!4b1!4m38!4m37!1m5!1m1!1s0x47c09bdf1cd852d1:0x99f5cb2dc173e577!2m2!1d6.0913829!2d50.7677437!1m5!1m1!1s0x47b8cbabcdadc985:0x7732b871c18c9e98!2m2!1d6.8015765!2d51.1944261!1m5!1m1!1s0x47b915ffaa307b97:0xa4d1c62453bb2202!2m2!1d7.5594478!2d51.4421112!1m5!1m1!1s0x47bbb0e666b6116d:0x9e6791f68b3fe7d8!2m2!1d8.7203024!2d51.5622555!1m5!1m1!1s0x47a4feff133ad227:0x63cdcadb23866f8d!2m2!1d10.7410197!2d51.4853459!1m5!1m1!1s0x47129415b3cdbfef:0x88ae42d46033ec0f!2m2!1d16.600311!2d49.203259!3e0" target="_blank">route on Google Maps</a>).</p>
<p>You can join the bus at the following stations :</p>
<ul>
    <li><a href="https://www.google.nl/maps/place/Aachen+Hbf/@50.7680973,6.0886868,17z/data=!3m1!4b1!4m5!3m4!1s0x47c09bdf24dcbdf5:0x1fbbe351de1a70a!8m2!3d50.7680939!4d6.0908755" target="_blank">Aachen Hbf, 52064 Aachen, Germany</a></li>
    <li><a href="https://www.google.nl/maps/place/Park%26Ride+S%C3%BCdpark/@51.1944294,6.7993878,17z/data=!3m1!4b1!4m5!3m4!1s0x47b8cbabcdadc985:0x7732b871c18c9e98!8m2!3d51.1944261!4d6.8015765" target="_blank">Park&Ride Südpark, 40225 Düsseldorf, Germany</a></li>
    <li><a href="https://www.google.nl/maps/place/Schwerte(Ruhr)/@51.4421145,7.5572591,17z/data=!4m5!3m4!1s0x47b915ffaa307b97:0xa4d1c62453bb2202!8m2!3d51.4421113!4d7.559448" target="_blank">Schwerte Hbf, 58239 Schwerte, Germany</a></li>
    <li><a href="https://www.google.nl/maps/place/Netto/@51.5622588,8.7181137,17z/data=!3m1!4b1!4m5!3m4!1s0x47bbb0e666b6116d:0x9e6791f68b3fe7d8!8m2!3d51.5622555!4d8.7203024" target="_blank">Bürener Str. 31, 33181 Bad Wünnenberg, Germany</a></li>
    <li><a href="https://www.google.nl/maps/place/Halle-Kasseler-Stra%C3%9Fe,+99735+Werther,+Duitsland/@51.4853492,10.738831,17z/data=!3m1!4b1!4m5!3m4!1s0x47a4feff133ad227:0x63cdcadb23866f8d!8m2!3d51.4853459!4d10.7410197" target="_blank">Halle-Kasseler-Str./Neuer Weg,99735 Werther, Germany</a></li>
</ul>
<p>Please select dancers who want to make use of this option in the list below.</p>
<p>More information about the bus ride will come through the mail.</p>
<p>If there are any questions about this, please contact the teamcaptain of team Bielefeld.</p>
<a class="btn btn-warning" href="mailto:{{tc_bus.email}}?SUBJECT=Bus to ETDS Brno">Send email to the teamcaptain of team Bielefeld</a>
{% else %}
<p>Click the dropdown below to see a list of people that would like to use the bus option to Brno.</p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="button" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <b class="panel-title">Dancers that want to use the bus to Brno <span class="badge">{% if included_dancers|length > 0 %}{{ included_dancers|length }}{% else %}0{% endif %}</span></b>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            {% if included_dancers|length > 0 %}
            <table class="table list-group">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 30%;">
                </colgroup>
                <thead>
                    <tr>
                        <th><b>Dancer</b></th>
                        <th><b>Email</b></th>
                        <th><b>Team</b></th>
                    </tr>
                </thead>
                <tbody>
                {% for dancer in included_dancers %}
                    <tr>
                        <td>
                            {{ dancer.get_full_name() }}
                        </td>
                        <td>
                            {{ dancer.email }}
                        </td>
                        <td>
                            {{ dancer.contestant_info[0].team.city }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
<form method="GET" enctype="multipart/form-data" novalidate>
    <input class="btn btn-info" id="submit-download_file" name="download_file" type="submit" value="Download list">
</form>
{% endif %}
<form method="POST" enctype="multipart/form-data" novalidate>
    {% if confirmed_dancers|length > 0 %}
    <table class="table table-striped table-clickable-checkbox">
        <colgroup>
            <col span="1" style="width: 80%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <thead>
            <tr>
                <th><b>Dancer</b></th>
                <th style="text-align:right"><b></b></th>
            </tr>
        </thead>
        <tbody>
        {% for dancer in confirmed_dancers %}
            <tr class="checkbox-row {% if dancer.additional_info[0].bus_to_brno == true %}success{% endif %}">
                <td>
                    {{ dancer.get_full_name() }}
                </td>
                <td align="right">
                    <input class="checkbox" type="checkbox" value="y" id="{{ dancer.contestant_info[0].number }}" name="{{ dancer.contestant_info[0].number }}" {% if dancer.additional_info[0].bus_to_brno == true %}checked{% endif %}>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Save changes">
    {% endif %}
</form>
{% else %}
<h2>The raffle has not taken place yet.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function() {
    $('.table-clickable-checkbox tr').click(function(event) {
        if (event.target.type !== 'checkbox') {
            $(':checkbox', this).trigger('click');
        }
    });
});
$(document).ready(function($) {
    $(".checkbox").change(function() {
        $(this).parents("tr:first").toggleClass('info ');
    });
});
</script>
{% endblock %}
