{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block body_attribs %}
{% endblock %}

{% block app_content %}
<button class="btn btn-default no-print" onclick="printPage()">Print</button>
{% if confirmed == 0 %}
<a href="{{ url_for('teamcaptains.couples_list', confirmed=1) }}" class="btn btn-default navbar-btn no-print">Confirmed dancers</a>
{% with category='Ballroom', couples=ballroom_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% with category='Latin', couples=latin_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}

{% else %}
<a href="{{ url_for('teamcaptains.couples_list', confirmed=0) }}" class="btn btn-default navbar-btn no-print">Pre-registered couples</a>
{% with category='Ballroom', couples=confirmed_ballroom_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% with category='Latin', couples=confirmed_latin_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}

{% with category='Ballroom', leads=ballroom_lead_blind_daters, follows=ballroom_follow_blind_daters %}
    {% include 'teamcaptains/_blind_daters_lists.html' %}
{% endwith %}
{% with category='Latin', leads=latin_lead_blind_daters, follows=latin_follow_blind_daters %}
    {% include 'teamcaptains/_blind_daters_lists.html' %}
{% endwith %}
{% endif %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        function printPage() {
            window.print();
        }
    </script>
{% endblock %}
