{% extends "base.html" %}

{% block body_attribs %}
{% endblock %}

{% block app_content %}
<h2>New couples</h2>
<a href="{{ url_for('teamcaptains.create_couple') }}" class="btn btn-primary mb-2">Create new couple</a>
<p>Dancers that have not accepted the GDPR are marked red.</p>
{% with category=g.data.BALLROOM, couples=ballroom_couples, show_break_up_button=true %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% with category=g.data.LATIN, couples=latin_couples, show_break_up_button=true %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    function printPage() {
        window.print();
    }
</script>
{% endblock %}
