{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block body_attribs %}
{% endblock %}

{% block app_content %}
<a href="{{ url_for('teamcaptains.create_couple') }}" class="btn btn-primary">Create new couple</a>
{% with category='Ballroom', couples=ballroom_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% with category='Latin', couples=latin_couples %}
    {% include 'teamcaptains/_couples_list.html' %}
{% endwith %}
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
    function printPage() {
        window.print();
    }
</script>
{% endblock %}
