{% extends "base.html" %}

{% block app_content %}

{% if ts.main_raffle_result_visible is sameas true %}
{% with finances=finances %}
    {% include 'teamcaptains/_finances_summary.html' %}
{% endwith %}

<h2>Received by organization:</h2>
<div style="font-size:x-large">{{ g.data.euros(current_user.team.amount_paid) }} / {{ g.data.euros(finances['price_total']) }}</div>
<form method="GET" enctype="multipart/form-data" novalidate>
    <input class="btn btn-outline-info my-2" id="submit-download_file" name="download_file" type="submit" value="Download list">
</form>
<form method="POST" enctype="multipart/form-data" novalidate>
    {% with status='Confirmed dancers', dancers=confirmed_dancers %}
        {% include 'teamcaptains/_finances_list.html' %}
    {% endwith %}
    {% with status='Cancelled dancers', dancers=cancelled_dancers %}
        {% include 'teamcaptains/_finances_list.html' %}
    {% endwith %}
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Save changes">
    <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('main.dashboard') }}">Cancel</a>
</form>
{% with status='Refunds', dancers=refund_dancers %}
    {% include 'teamcaptains/_refund_list.html' %}
{% endwith %}
{% else %}
<h2>The raffle has not taken place yet.</h2>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function allPaid(checkbox) {
    var row = checkbox.closest("tr")
    var entry = row.querySelector(".entry-fee-checkbox");
    var merchandise = row.querySelector(".merchandise-checkbox");
    entry.checked = checkbox.checked;
    merchandise.checked = checkbox.checked
    checkRow(checkbox)
}
function removeColors(elem) {
    elem.classList.remove("table-warning");
    elem.classList.remove("table-success");
    elem.classList.remove("table-info");
}
function checkRow(checkbox) {
    var row = checkbox.closest("tr")
    var entry = row.querySelector(".entry-fee-checkbox");
    var merchandise = row.querySelector(".merchandise-checkbox");
    var total = row.querySelector(".total-paid-checkbox");
    var prev_entry = entry.value == "True"
    var prev_merchandise = merchandise.value == "True"
    var prev_total = total.value == "True"

    if (merchandise.style.visibility == "") {
        if (entry.checked && merchandise.checked) {total.checked = true;} else {total.checked = false;}
        changeColor(row, entry.checked == prev_entry && merchandise.checked == prev_merchandise && total.checked == prev_total)
    } else {
        if (entry.checked) {total.checked = true;} else {total.checked = false;}
        changeColor(row, entry.checked == prev_entry && total.checked == prev_total)
    }
}
function changeColor(elem, toggle) {
    if (toggle) {
        elem.classList.remove("table-info");
    } else {
        elem.classList.add("table-info");
    }
}
$(document).ready(function() {
    $('.table-finances tr').click(function(event) {
        if (event.target.type !== 'checkbox') {
            $('.total-paid-checkbox', this).trigger('click');
        }
    });
});
</script>
{% endblock %}
