{% extends "base.html" %}

{% block app_content %}
    {% if g.ts.main_raffle_result_visible %}
        {{ react() }}
        <script src="{{url_for('static', filename='js/react/TeamCaptainFinances.js')}}{{ aver }}" ></script>
        <div id="finances"></div>
        <script>
            ReactDOM.render(React.createElement(TeamCaptainFinances, {{current_user.team.finances_data() | tojson}}), document.getElementById('finances'));
        </script>
    {% else %}
        <h2>The raffle has not taken place yet.</h2>
    {% endif %}
{% endblock %}
