{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block app_content %}
{% with title='Edit dancer information', mode='edit' %}
    {% include 'teamcaptains/_dancer_form.html' %}
{% endwith %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function onStart() {
    document.getElementById('ballroom_level').onchange();
    document.getElementById('latin_level').onchange();
    <!--document.getElementById('volunteer').onchange();-->
}
function dropDownGreyOut(parent_id, id) {
    var ddl = document.getElementById(id);
    var parentDiv = document.getElementById(parent_id);
    selectedValue = ddl.options[ddl.selectedIndex].value;
    if (selectedValue == "no" || ddl.disabled == true) {
        $(parentDiv).find('*').attr('disabled', true);
    } else {
        $(parentDiv).find('*').attr('disabled', false);
    }
}
</script>
{% endblock %}
