{% extends "base.html" %}
{% import 'my_wtf.html' as wtf %}

{% block app_content %}
<h2>Name change request for: {{contestant.get_full_name()}}</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.first_name)}}
    {{ wtf.form_field(form.prefixes)}}
    {{ wtf.form_field(form.last_name)}}
    {{ wtf.form_field(form.submit, **{'class': "btn btn-primary"})}}
    <a role="button" class="btn btn-default" href="{{ url_for('teamcaptains.edit_dancer', number=contestant.contestant_id, wide=wide) }}">Cancel</a>
</form>

{% endblock %}