{% extends "base.html" %}

{% block app_content %}
<h2>New request</h2>
<a href="{{url_for('teamcaptains.partner_request')}}" class="btn btn-primary navbar-btn no-print">Create new request</a>
<h2>Partner requests</h2>
{% if other_requests %}
<table class="table table-sm">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
    </colgroup>
    <thead>
    <tr>
        <th>My dancer</th>
        <th>Category</th>
        <th>Other dancer</th>
        <th>Team</th>
        <th>Status</th>
        <th style="text-align:right;">Respond</th>
    </tr>
    </thead>
    <tbody>
    {% for req in other_requests %}
    <tr class="{% if req.state == req.STATE['Open'] %}table-info{% elif req.state == req.STATE['Accepted'] %}table-success{% elif req.state == req.STATE['Rejected'] %}table-danger{% else %}table-warning{% endif %}">
        <td>{{req.other.get_full_name()}}</td>
        <td>{{req.competition}}</td>
        <td>{{req.dancer.get_full_name()}}</td>
        <td>{{req.dancer.contestant_info[0].team.name}}</td>
        <td>{{req.state_name()}}</td>
        <td align="right">
            <a style="width:36px;height:32px" class="btn btn-primary btn-sm {% if req.state != 1 %}disabled{% endif %}" href="{{url_for('teamcaptains.request_respond',req=req.id)}}">
                <img src="{{url_for('static', filename='octicons/reply.svg')}}">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no open partner requests.
{% endif %}

<h2>My requests</h2>
{% if my_requests%}
<table class="table table-sm">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
        <th>My dancer</th>
        <th>Category</th>
        <th>Other dancer</th>
        <th>Team</th>
        <th>Status</th>
        <th style="text-align:right;">View</th>
        <th style="text-align:right;">Cancel</th>
    </tr>
    </thead>
    <tbody>
    {% for req in my_requests %}
    <tr class="{% if req.state == req.STATE['Open'] %}table-info{% elif req.state == req.STATE['Accepted'] %}table-success{% elif req.state == req.STATE['Rejected'] %}table-danger{% else %}table-warning{% endif %}">
        <td>{{req.dancer.get_full_name()}}</td>
        <td>{{req.competition}}</td>
        <td>{{req.other.get_full_name()}}</td>
        <td>{{req.other.contestant_info[0].team.name}}</td>
        <td>{{req.state_name()}}</td>
        <td align="right">
            <button style="width:36px;height:32px" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#req{{req.id}}-modal">
                <img src="{{url_for('static', filename='octicons/eye.svg')}}">
            </button>
        </td>
        <td align="right">
            <a style="width:36px;height:32px" class="btn btn-danger btn-sm {% if req.state != 1 %}disabled{% endif %}" href="{{ url_for('teamcaptains.partner_cancel', req=req.id) }}">
                <img src="{{url_for('static', filename='octicons/x.svg')}}">
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% for req in my_requests %}
<div class="modal fade" id="req{{req.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">More information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                My dancer: {{req.dancer}} <br/>
                Requested: {{req.other}} <br/>
                Competition: {{req.competition}} <br/>
                Level: {{req.level}} <br/>
                Request status: {{req.state_name()}} <br/>
                {% if req.remark %} <br/>
                Remark:<br/>
                <p>{{req.remark}}</p>
                {% endif %}
                {% if req.response %}
                Response:<br/>
                <p>{{req.response}}</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
There are no requests made by you.
{% endif %}
{% endblock %}