{% extends "base.html" %}
{% import 'my_wtf.html' as my_wtf %}

{% block app_content %}
<a href="{{url_for('teamcaptains.partner_request')}}" class="btn btn-primary navbar-btn no-print">Create new request</a>
<h2>Partner requests</h2>
{% if other_requests %}
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>My dancer</b></td>
        <td><b>Category</b></td>
        <td><b>Other dancer</b></td>
        <td><b>Team</b></td>
        <td><b>Status</b></td>
        <td><b>Respond</b></td>
    </tr>
    </thead>
    <tbody>
    {% for req in other_requests %}
    <tr>
        <td>{{req.other.get_full_name()}}</td>
        <td>{{req.competition}}</td>
        <td>{{req.dancer.get_full_name()}}</td>
        <td>{{req.dancer.contestant_info[0].team.name}}</td>
        <td>{{req.state_name()}}</td>
        <td>
            <a href="{{url_for('teamcaptains.request_respond',req=req.id)}}">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
There are no open partner requests.
{% endif %}

<h2>My requests</h2>
{% if my_requests%}
<table class="table table-striped table-responsive">
    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 25%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
        <col span="1" style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
        <td><b>My dancer</b></td>
        <td><b>Category</b></td>
        <td><b>Other dancer</b></td>
        <td><b>Team</b></td>
        <td><b>Status</b></td>
        <td align="right"><b>View</b></td>
        <td align="right"><b>Cancel</b></td>
    </tr>
    </thead>
    <tbody>
    {% for req in my_requests %}
    <tr>
        <td>{{req.dancer.get_full_name()}}</td>
        <td>{{req.competition}}</td>
        <td>{{req.other.get_full_name()}}</td>
        <td>{{req.other.contestant_info[0].team.name}}</td>
        <td>{{req.state_name()}}</td>
        <td align="right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#req{{req.id}}-modal">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </td>
        <td align="right">
            <form class="form" method="POST" enctype="multipart/form-data" novalidate>
                <button id="{{req.id}}" name="{{req.id}}" type="submit" class="btn btn-danger {% if req.state == 4 %}disabled{% endif %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% for req in my_requests %}
<div class="modal fade" id="req{{req.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">More information</h4>
            </div>
            <div class="modal-body">
                My dancer:{{req.dancer}} <br/>
                Other dancer: {{req.other}} <br/>
                Competition: {{req.competition}} <br/>
                Level: {{req.level}} <br/>
                Status: {{req.state_name()}} <br/>
                {% if req.remark %} <br/>
                Remark:<br/>
                <p>{{req.remark}}</p>
                {% endif %}
                {% if req.response %}
                Response:<br/>
                <p>{{req.response}}</p>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
There are no requests made by you.
{% endif %}
{% endblock %}