{% extends "base.html" %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block container_style -%}
visibility:hidden
{%- endblock %}

{% block app_content %}
<h2>Partner request</h2>
<form class="form" method="POST" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.competition, **{'onchange': "dancingCompetition()", 'onkeyup': "dancingCompetition()"}) }}
    {{ wtf.form_field(form.level, disabled=true, **{'onchange': "dancingLevel()", 'onkeyup': "dancingLevel()"}) }}
    {{ wtf.form_field(form.dancer, disabled=true, **{'onchange': "dancingCompetition()", 'onkeyup': "dancingCompetition()"}) }}
    {{ wtf.form_field(form.other, disabled=true, **{'onchange': "dancingCompetition()", 'onkeyup': "dancingCompetition()"}) }}
    {{ wtf.form_field(form.remark) }}
    {{ wtf.form_field(form.submit) }}
    <a role="button" class="btn btn-outline-secondary ml-2" href="{{ url_for('teamcaptains.partner_request_list') }}">Cancel</a>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function onStart() {
    document.getElementById('competition').onchange();
    setSearchFirstChoice()
    var container = document.getElementById('container-hidden').style.visibility = "visible";
}
function setSearchFirstChoice() {
    var div_other = document.getElementById('other2');
}

var my_dancers = {{ my_dancers | tojson }};
var possible_partners = {{ possible_partners | tojson }};

function dancingCompetition() {
    var div_competition = document.getElementById('competition');
    var div_level = document.getElementById('level');

    val_competition = div_competition.options[div_competition.selectedIndex].value;

    if (val_competition == "") {
        div_level.setAttribute('disabled', true);
    } else {
        div_level.removeAttribute('disabled');
    }
    div_level.onchange()
}

function dancingLevel() {
    var div_level = document.getElementById('level');
    var div_dancer = document.getElementById('dancer');
    var div_other = document.getElementById('other');

    val_level = div_level.options[div_level.selectedIndex].value;

    if (val_level == "") {
        div_dancer.setAttribute('disabled', true);
        div_other.setAttribute('disabled', true);
    } else {
        div_dancer.removeAttribute('disabled');
        div_other.removeAttribute('disabled');
    }
    setPartners()
}

function setPartners() {
    var div_competition = document.getElementById('competition');
    var div_level = document.getElementById('level');
    var div_dancer = document.getElementById('dancer');
    var div_other = document.getElementById('other');

    var old_dancer = div_dancer.selectedOptions[0]
    var dancerList = $("#dancer")
    dancerList.find("option:gt(0)").remove();
    
    var old_other = div_other.selectedOptions[0]
    var otherList = $("#other")
    otherList.find("option:gt(0)").remove();

    if ((div_level.value == "{{g.data.BEGINNERS}}" || div_level.value == "{{g.data.BREITENSPORT}}") && div_competition.value != "") {
        var dancerValues = my_dancers[div_competition.value][div_level.value]["{{g.data.BOTH}}"]
        for(var i in dancerValues) {
            var newOption = document.createElement('option')
            newOption.value = dancerValues[i][0];
            newOption.text = dancerValues[i][1];
            div_dancer.appendChild(newOption);
        }
        if ($("#dancer option").filter(function (i, o) { return o.value === old_dancer.value; }).length > 0) {
            div_dancer.value = old_dancer.value;
        }
        var myLeads = my_dancers[div_competition.value][div_level.value]["{{g.data.FOLLOW}}"]
        var check_partners = "{{g.data.FOLLOW}}"
        for (i = 0; i < myLeads.length; i++) {
            if (myLeads[i][0] == div_dancer.value) {
                check_partners = "{{g.data.LEAD}}";
                break;
            }
        }
        var otherValues = possible_partners[div_competition.value][div_level.value][check_partners]
        for(var i in otherValues) {
            var newOption = document.createElement('option')
            newOption.value = otherValues[i][0];
            newOption.text = otherValues[i][1] + " - " + otherValues[i][2];
            div_other.appendChild(newOption);
        }
        if ($("#other option").filter(function (i, o) { return o.value === old_other.value; }).length > 0) {
            div_other.value = old_other.value;
        }
    }
}
</script>
{% endblock %}
