{% extends "base.html" %}

{% block body_attribs %}
onload="onStart()"
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
function onStart() {
    document.getElementById('ballroom_level').onchange(this);
    document.getElementById('latin_level').onchange(this);
    {% if g.sc.ask_volunteer -%}
        document.getElementById('volunteer').onchange(this);
    {%- endif %}
    document.getElementById('jury_ballroom').onchange(this);
    document.getElementById('jury_latin').onchange(this);
}
function dummy() {}

let possible_partners = {{ possible_partners | tojson }};
let ballroom_jury_value = "{{ form.jury_ballroom.data }}";
let latin_jury_value = "{{ form.jury_latin.data }}";

const checkEmail = elem => {
    fetch("/teamcaptains/check_email", {method: "POST", credentials: 'same-origin', body: JSON.stringify(elem.value)})
        .then(response => response.json())
        .then(result => {
                let errorDiv = elem.parentElement.querySelector('.invalid-feedback');
                let validDiv = elem.parentElement.querySelector('.valid-feedback');
                if (result.error.length > 0) {
                    if (validDiv !== null) {validDiv.parentNode.removeChild(validDiv);}
                    elem.classList.remove("is-valid");
                    elem.classList.add("is-invalid");
                    if (errorDiv === null) {
                        errorDiv = document.createElement("div");
                        errorDiv.classList.add("invalid-feedback");
                        elem.parentElement.appendChild(errorDiv)
                    }
                    errorDiv.innerText = result.error;
                } else {
                    if (errorDiv !== null) {errorDiv.parentNode.removeChild(errorDiv);}
                    elem.classList.remove("is-invalid");
                    elem.classList.add("is-valid");
                    if (validDiv === null) {
                        validDiv = document.createElement("div");
                        validDiv.classList.add("valid-feedback");
                        elem.parentElement.appendChild(validDiv)
                    }
                    validDiv.innerText = "This is a valid email address that has not been used yet.";
                }
            }
        ).catch(error => {
            console.log('Error: \n', error);
        });
};

function dancingLevel(level, role, partner, bd, jury) {
    let div_level = document.getElementById(level);
    let div_role = document.getElementById(role);
    let div_partner = document.getElementById(partner);
    {% if g.sc.breitensport_obliged_blind_date %}
    let div_bd = document.getElementById(bd);
    {% endif %}
    let div_jury = document.getElementById(jury);

    let bd_list = ["{{ g.data.OPEN_CLASS }}"];
    {% if g.sc.closed_level -%}
    bd_list.push("{{ g.data.CLOSED }}");
    {%- endif %}

    let val_level = div_level.options[div_level.selectedIndex].value;

    if (val_level === "{{ g.data.NO }}") {
        {% if g.sc.breitensport_obliged_blind_date %}
            div_bd.value = "{{ g.data.NONE }}";
            div_bd.setAttribute('disabled', '');
        {% endif %}
        div_role.setAttribute('disabled', '');
        if (level === 'ballroom_level') {div_jury.value = ballroom_jury_value;} else {div_jury.value = latin_jury_value;}
        div_jury.removeAttribute('disabled');
    } else if (val_level === "{{ g.data.BEGINNERS }}") {
        {% if g.sc.breitensport_obliged_blind_date %}
            div_bd.value = "False";
            div_bd.setAttribute('disabled', '');
        {% endif %}
        div_role.removeAttribute('disabled');
        div_jury.value = "{{ g.data.NO }}";
        div_jury.setAttribute('disabled', '');
    } else if (val_level === "{{ g.data.BREITENSPORT }}") {
        {% if g.sc.breitensport_obliged_blind_date %}
            if (div_bd.value !== "True") {div_bd.setAttribute('disabled', '');}
            div_bd.removeAttribute('disabled');
        {% endif %}
        div_role.removeAttribute('disabled');
        div_jury.value = "{{ g.data.NO }}";
        div_jury.setAttribute('disabled', '');
    } else if(bd_list.includes(val_level)) {
        div_partner.value = "__None";
        div_partner.setAttribute('disabled', '');
        {% if g.sc.breitensport_obliged_blind_date %}
            div_bd.value = "True";
            div_bd.setAttribute('disabled', '');
        {% endif %}
        div_role.removeAttribute('disabled');
        if (level === 'ballroom_level') {div_jury.value = ballroom_jury_value;} else {div_jury.value = latin_jury_value;}
        div_jury.removeAttribute('disabled');
    } else {
        div_role.setAttribute('disabled', '');
        div_role.value = "{{ g.data.NONE }}";
        {% if g.sc.breitensport_obliged_blind_date %}
            div_bd.value = "{{ g.data.NONE }}";
            div_bd.setAttribute('disabled', '');
        {% endif %}
        div_partner.value = "__None";
        div_partner.setAttribute('disabled', '');
        if (level === 'ballroom_level') {div_jury.value = ballroom_jury_value;} else {div_jury.value = latin_jury_value;}
        div_jury.removeAttribute('disabled');
    }
    div_role.onchange(this);
    div_jury.onchange(this);
    if (div_level.disabled) {
        div_role.setAttribute('disabled', '');
        {% if g.sc.breitensport_obliged_blind_date %}
        div_bd.setAttribute('disabled', '');
        {% endif %}
        div_partner.setAttribute('disabled', '');
    }
}

function dancingRole(level, role, partner, bd) {

    let div_level = document.getElementById(level);
    let div_role = document.getElementById(role);

    let val_level = div_level.options[div_level.selectedIndex].value;
    let val_role = div_role.options[div_role.selectedIndex].value;

    {% if g.sc.breitensport_obliged_blind_date %}
        let div_bd = document.getElementById(bd);

        if (val_role === "{{g.data.LEAD}}" || val_role === "{{g.data.FOLLOW}}") {
            if (val_level === "{{g.data.BREITENSPORT}}") {div_bd.removeAttribute('disabled');}
        } else {
            div_bd.setAttribute('disabled', '');
        }
        div_bd.onchange(this);
    {% else %}
        let div_partner = document.getElementById(partner);

        if (val_role === "{{g.data.LEAD}}" || val_role === "{{g.data.FOLLOW}}") {
            if (val_level === "{{g.data.BREITENSPORT}}" || val_level === "{{g.data.BEGINNERS}}") {div_partner.removeAttribute('disabled');}
            else {div_partner.setAttribute('disabled', '');}
        } else {
            div_partner.setAttribute('disabled', '');
        }
        if (level === 'ballroom_level') {
            setPartners('{{g.data.BALLROOM}}', partner, level, role)
        } else {
            setPartners('{{g.data.LATIN}}', partner, level, role)
        }
    {% endif %}
}

function dancingBD(level, role, partner, bd) {
    let div_role = document.getElementById(role);
    let div_partner = document.getElementById(partner);
    let div_bd = document.getElementById(bd);

    let val_role = div_role.options[div_role.selectedIndex].value;
    let val_bd = div_bd.options[div_bd.selectedIndex].value;

    if (val_bd === "True") {
        div_partner.setAttribute('disabled', '');
    } else if (val_bd === "False" && (val_role === "{{g.data.LEAD}}" || val_role === "{{g.data.FOLLOW}}")) {
        div_partner.removeAttribute('disabled');
    } else {
        div_partner.setAttribute('disabled', '');
    }
    if (level === 'ballroom_level') {
        setPartners('{{g.data.BALLROOM}}', partner, level, role)
    } else {
        setPartners('{{g.data.LATIN}}', partner, level, role)
    }
}

function setPartners(competition, partner, level, role) {
    let div_partner = document.getElementById(partner);
    let div_level = document.getElementById(level);
    let div_role = document.getElementById(role);

    let old_partner = div_partner.selectedOptions[0];
    let selectedList = $("#"+partner);
    selectedList.find("option:gt(0)").remove();

    if ((div_level.value === "{{g.data.BEGINNERS}}" || div_level.value === "{{g.data.BREITENSPORT}}") && div_role.value !== "{{g.data.CHOOSE}}" && div_role.value !== "{{g.data.NONE}}") {
        let selectValues = possible_partners[competition][div_level.value][div_role.value];
        selectValues.forEach(opt => {
            let newOption = document.createElement('option');
            newOption.value = opt[0];
            newOption.text = opt[1];
            div_partner.appendChild(newOption);
        });
        if ($("#"+partner+" option").filter(function (i, o) { return o.value === old_partner.value; }).length > 0) {
            div_partner.value = old_partner.value;
        }
    }

}

function volunteerGreyOut() {
    {% if g.sc.ask_volunteer -%}
        let div_volunteer = document.getElementById('volunteer');

        {% if g.sc.ask_first_aid -%}
        let div_first_aid = document.getElementById('first_aid');
        if (div_volunteer.value === "{{ g.data.NO }}") {
            div_first_aid.setAttribute('disabled', '');
        } else {
            div_first_aid.removeAttribute('disabled');
        }
        {%- endif %}
        {% if g.sc.ask_emergency_response_officer -%}
        let div_emergency_response_officer = document.getElementById('emergency_response_officer');
        if (div_volunteer.value === "{{ g.data.NO }}") {
            div_emergency_response_officer.setAttribute('disabled', '');
        } else {
            div_emergency_response_officer.removeAttribute('disabled');
        }
        {%- endif %}

    {%- endif %}
}
function adjudicatorGreyOut(jury, license, level) {
    let div_jury = document.getElementById(jury);
    {% if g.sc.ask_adjudicator_certification -%}
        let div_license = document.getElementById(license);
    {%- endif %}
    {% if g.sc.ask_adjudicator_highest_achieved_level -%}
        let div_level = document.getElementById(level);
    {%- endif %}

    if (div_jury.value === "{{ g.data.NO }}") {
        {% if g.sc.ask_adjudicator_certification -%}
            div_license.setAttribute('disabled', '');
        {%- endif %}
        {% if g.sc.ask_adjudicator_highest_achieved_level -%}
            div_level.setAttribute('disabled', '');
        {%- endif %}
    } else {
        {% if g.sc.ask_adjudicator_certification -%}
            div_license.removeAttribute('disabled');
        {%- endif %}
        {% if g.sc.ask_adjudicator_highest_achieved_level -%}
            div_level.removeAttribute('disabled');
        {%- endif %}
    }
}

</script>
{% endblock %}
