{% extends "base.html" %}

{% block app_content %}
<h2>Starting lists for tournament  <span class="badge badge-pill badge-dark">{{all_competition_dancers|length}}/{{all_dancers|length}}</span></h2>
{% for competition in competitions|sort(attribute='when') %}
{% if competition.mode == g.competition_mode.single_partner %}
<h3>{{competition}}{# <span class="badge badge-pill badge-dark">{{competitions[competition]|length}}</span>#}</h3>
<table class="table table-sm mb-5">
    <colgroup>
        <col span="1" style="width: 10%"/>
        <col span="1" style="width: 45%"/>
        <col span="1" style="width: 45%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Number</th>
            <th>Lead</th>
            <th>Follow</th>
        </tr>
    </thead>
    <tbody>
    {% for couple in competitions[competition] %}
        <tr>
            <td>{{ couple.number }}</td>
            <td class="{% if not couple.lead.contestant_team() == current_user.team %}table-secondary{% endif %}">
                {{ couple.lead }}{% if not couple.lead.contestant_team() == current_user.team %} - {{couple.lead.team}}{% endif %}
            </td>
            <td class="{% if not couple.follow.contestant_team() == current_user.team %}table-secondary{% endif %}">
                {{ couple.follow }}{% if not couple.follow.contestant_team() == current_user.team %} - {{couple.follow.team}}{% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h3>{{competition}} ({{competition.mode.value}}){# <span class="badge badge-pill badge-dark">{{competitions[competition]|length}}</span>#}</h3>
<table class="table table-sm mb-5">
    <colgroup>
        <col span="1" style="width: 10%"/>
        <col span="1" style="width: 45%"/>
        <col span="1" style="width: 45%"/>
    </colgroup>
    <thead>
        <tr>
            <th>Number</th>
            <th>Lead</th>
            <th>Follow</th>
        </tr>
    </thead>
    <tbody>
    {% for dancer in competitions[competition]|sort(attribute='role', reverse=true) %}
        <tr>
            <td>{% if dancer.role == g.data.LEAD %}{{ dancer.number }}{% endif %}</td>
            <td>{% if dancer.role == g.data.LEAD %}{{ dancer }}{% endif %}</td>
            <td>{% if dancer.role == g.data.FOLLOW %}{{ dancer }}{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}
{% endblock %}
