{% extends "profile.html" %}

{% block treasurer_form %}
{% if treasurer_active == false %}
    <h2>Add treasurer</h2>
    <p>You can add the treasurer of your organization as a separate user to the xTDS WebPortal,
        so that he/she can handle the payments required for the tournament.</p>
    <p>If you want to do this, please fill out the the form below, and the treasurer will receive his/her credentials
    through the e-mail address provided.</p>
    <form action="{{ url_for('teamcaptains.teamcaptain_profile') }}" class="form" method="POST" enctype="multipart/form-data" novalidate>
        {{ treasurer_form.hidden_tag() }}
        {{ treasurer_form.csrf_token }}
        {{ wtf.form_field(treasurer_form.email) }}
        {{ wtf.form_field(treasurer_form.message) }}
        {{ wtf.form_field(treasurer_form.tr_submit) }}
    </form>
{% endif %}
{% endblock %}