{% extends "base.html" %}

{% block app_content %}
    <h2>Track status of dancers</h2>
    <p>Here, you can track where your dancers are (logistically speaking).</p>
    {{ react() }}
    <script src="{{url_for('static', filename='js/react/TournamentCheckin.js')}}{{ aver }}" ></script>
    <div id="dancers"></div>
    <script>
        ReactDOM.render(React.createElement(TournamentCheckin, {dancers:{{dancers | tojson}}, team_id:{{current_user.team.team_id}}}), document.getElementById('dancers'));
    </script>
{% endblock %}
