{% extends "base.html" %}

{% block app_content %}

{% if ts.main_raffle_result_visible is sameas true %}
<h2>Dancers that have checked in at the tournament desk <span style="font-size:x-large" class="badge badge-pill badge-dark">{{ checked_in_dancers|length }}/{{ confirmed_dancers|length }}</span></h2>
<table class="table">
    <thead>
        <tr>
            <th><b>Dancer</b></th>
            <th><b>Checked in?</b></th>
        </tr>
    </thead>
    <tbody>
        {% for dancer in confirmed_dancers %}
            <tr class="{% if dancer.status_info.checked_in == true %}table-success{% else %}table-danger{% endif %}">
                <td>{{ dancer.get_full_name() }}</td>
                <td>{{ data.TF[dancer.status_info.checked_in] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>The raffle has not taken place yet.</h2>
{% endif %}

{% endblock %}
